/*
    COLOR PALETTE
    #4C412E
    #F08B48
    #F6BF77
    #f0e5d1e6
    #5A8094
*/

/*
    font-family: 'Inknut Antiqua', serif;
*/

.eye-container, .home-2030, #swissDocIllustration {
    display: none;
}
 

/* The Overlay (background) */
.overlay-style-page {
    display: none; 
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
   }

.overlay-content {
    position: absolute;
    bottom: 25%; 
    left: 25%;
    width: 25%; /* 100% width */
    text-align: left;
    z-index: 3;
    color: whitesmoke;
}

#general-overlay {
    display: block;
}

#incunabula-overlay, #time-overlay, #swiss-overlay, #future-overlay {
    display: none;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

body {
    background-color: #f0e5d1e6 !important;
}

#timeTitle {
    display: none;
}


/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}

.navbar-nav a {
    padding: 0 .5rem;
    text-decoration: none;
}

.navbar-toggler span {
    height: 4px;
    width: 25px;
    display: block;
}

.navbar-toggler span:not(:last-child) {
    margin-bottom: .3rem;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}


.dark-nav-toggler span{
    background-color: #212529;
}

.light-nav-toggler span{
    background-color: #212529;
}

.active, .active-pizza, .active-issue {
    color: #ed4007 !important;
}


.navbar-brand:hover {
    color: #212529 !important;
}

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: #f0e5d1e6 !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529;
    font-family: 'Inknut Antiqua', serif !important;
    font-weight: 700;
}

.ddm-nav-text {
    color: #212529;
    font-family: 'Inknut Antiqua', serif !important;
    font-weight: 700;
}


.disabled-nav-text {
    font-family: 'Inknut Antiqua', serif !important;
    font-weight: 600;
    color: #21252966 !important;
}


.nav-text:hover {
    color: #ed4007 !important;
    background-color: none !important;
}


.ddm-nav-text:hover {
    color: #ed4007 !important;
    background-color: none !important;
}


.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}
  





/*BUTTONS SUB-SECTION */

.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}
  
#stylesBtn {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms
}
  
.sub-btn {
    background-color: whitesmoke;
    width: 100%;
    height: 20%;
    border: none;
    display: none;
    box-shadow: 0px 8px 15px rgba(240, 229, 209, 0.3);
    border-radius: 50px;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    font-size: 1.2em;
}

.sub-btn:hover {
    box-shadow: 0px 12px 18px rgba(240, 229, 209, 0.1);
    scale: 1.1;
    transition: 400ms;
}




  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;
    transition: 400ms;
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }

.modal-btn:hover, #stylesBtn:hover, #toTopBtn:hover {
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.8);
    transition: 400ms;
}






/*HOME*/

.page-presentation {
    overflow:hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    border-bottom: #212529 1px solid;
}

.index-page-presentation {
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/presentation_incunabula.png");
    background-size: cover;
}

.title-container {
    grid-row: 4;
    grid-column: 3/7;
    z-index: 1;
}

.title-container h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Inknut Antiqua', serif !important;
}

.subtitle-div {
    grid-row: 6;
    grid-column: 2/8;
    text-align: center;
}

#homeTp1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif !important;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*HOME MAIN*/

#styleChangePoster {
    display: none;
}

main {
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'Inknut Antiqua', serif !important;
}


#homeBody {
    margin-top: 15vw;
    margin-right: 15vw;
    margin-left: 9vw;
    margin-bottom: 24vw;
    display: flex;
    flex-direction: column;
    border-left: 5vw solid transparent;
    padding: 2vw;
    border-image: url("../images_styles/incunabula/ornament_incunabula.jpeg") 100 repeat;
}


#homeBody p {
    font-size: 1.2em;
    text-align: justify;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
         -o-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

#homeBody h2::first-letter {
    font-size: 3.5em;
    float:left;
    padding-bottom: 0;
    padding: 2%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}

#homeBody h3::first-letter{
    font-size: 2.5em;
    float:left;
    padding: 2%;
    margin: 0 3% 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}


#homeBody h3 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1%;
}


#homeBody a {
    color:#5A8094;
}

#homeBody a:hover {
    color: #3c85ac;
    text-decoration: none;
}

.home-magazine-img-container {
    width: 100%;
    height: fit-content;
    background-color: #f0e5d1;
}
.home-magazine-img-container img {
    width: 100%;
    opacity: 0.9;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}

.esd-lt-block, .esd-rt-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.esd-lt-block div {
    margin-bottom: 1%;
}

.esd-rt-block div {
    margin-bottom: 1%;
}




/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: black;
}



#magazineDescription {
    margin-bottom: 25%;
}

#magazineDescription :nth-child(2) {
    margin-bottom: 0;
}


.home-flex-row {
    margin: 20% 0 0 0;
}

.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}

#issuesFeaturesDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-link-container {
    margin: 0 !important;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.link-to-other-pages {
    padding: .5rem .5rem;
    background-color: none;
    border: solid 2px #212529;
    transition: 400ms;
    color: #5A8094;
    text-decoration: none;
    border-radius: 5px;
}


.link-to-other-pages:hover {
    transition: 400ms;
    background-color: #5A8094;
    color: #212529 !important;
}



#incunabulaPoster {
    width: 40%;
    margin: 5% 30% 8% 30%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 25px;
    transition: 400ms;
}

#incunabulaPoster:hover {
    width: 40%;
    margin: 5% 30% 8% 30%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 15px;
    transition: 400ms;
}







/* ISSUES ------------------------------------ */

.issue-page-presentation {
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/anthropomorphic_pizza_guys_handmade_illustration__ac90dc65-ce4d-4bba-b56a-30e55755d3b3.png");
    background-size: cover;
}



#issueTp1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif !important;
    grid-row: 5;
    grid-column: 3/7;
    text-align: center;
}


.mode-selector {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5%;
    display: none;
    background-image: linear-gradient(0.25turn, rgba(255,255,255,0.2), rgba(255,255,255,0.4), rgba(255,255,255,0.4), rgba(255,255,255,0.2))  , url("../images_styles/incunabula/mode_selector_ornament.svg");
  }
  

.mode-selctor-btns-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  


  
.mode-selctor-btns-div button {
    padding: 1.5% 0;
    height: 100%;
    width: 25%;
    font-size: 1.5em;
    background-color:#f0e5d1e2;
    border: solid 2px;
}



.double-doc-selector {
    position: relative; 
    display: none;
    height: auto;
    z-index: 1;
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.double-doc-selector div {
    width: 47.5%;
    text-align: center;
}

.document-selection-container div {
    width: 100%;
}
  





.meta-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 3vw;
    margin-bottom: 8vw;
    justify-content: space-between;
}


.metadata-container {
    width: 28%;
    display: flex;
    flex-direction: column;
}
  
.sticky-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.card {
    background-color: transparent;
}
  
.card-header {
    padding:0 !important;
}
  
.meta-menu-card{
    background-color: white !important;
}

.card-body li {
    padding: .5rem 0;
}

.card-body form div {
    margin: 1rem 0;
}


.entity-creation-form, .entity-creation-form-b {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}
  
  .entity-creation-form input {
    width: 100%;
  }
  
  .entity-creation-form-b input {
    width: 100%;
  }

.entity-string, .entity-string-b {
    border: solid 1px;
    margin: .5rem 0;
}




  
.entities-content-table {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.nav-items-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.nav-i, .nav-i-b {
    background-color: transparent;
    border: none;
    padding: 3% 5%;
}
  
.active-nav-i {
    background-color: #F6BF77;
    border: 1px solid;
}

  
.tab-content, .tab-content-b{
    display: none;
  }
  
  
.active-tc {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid;
    border-radius: 5px;
    overflow-y: scroll !important;
}

.active-tc li {
    padding-right: 1rem;
}




/*Artice container*/
.article-container {
    width: 70%;
    min-height: 200px;
  }

.article-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    line-height: 2.4em;
}


.article-container li {
    padding: 1rem 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}


.article-container h3:not(.references-h3, .notes-h3)::first-letter {
    float:left;
    padding: 2%;
    margin: 0 2% 0 0;
    font-size: 3em;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}





.article-container h3 {
    margin-top: 2em;
}


.article-title, .author-info, .publication-info {
    padding-bottom: 1.5em;
    text-align: center !important;
    text-transform: uppercase;
}




.article-comparison-container h3:not(.references-h3, .notes-h3)::first-letter {
    float:left;
    padding: 2%;
    margin: 0 2% 0 0;
    font-size: 3em;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}



.article-comparison-container h3 {
    margin-top: 2em;
}

.article-comparison-container {
    display: none;
}

.article-comparison-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    line-height: 2.4em;
}

.article-comparison-container li {
    padding: 1rem 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}




.article-container li a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-comparison-container li a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-comparison-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

  
  .info-dl, .info-dl-b{
    padding: 2%;
  }
  
  
  .docs-list-a, .docs-list-b {
    margin: 0;
    padding-left: 1rem;
  }
  
  

  /*Span backgrounds*/
  
/*PALETTE: https://color.adobe.com/it/search?q=ancient%20book https://color.adobe.com/it/search?q=incunabula https://color.adobe.com/it/search?q=incunabula  https://color.adobe.com/it/search?q=incunabula*/

  .person-bkg {
    color: #F2B705 !important;
    font-weight: 900;
  }
  
  .places-bkg {
    color: #F08B48;
    font-weight: 900;
  }
  
  .organizations-bkg {
    color: rgb(102, 75, 121);
    font-weight: 900;
  }
  
  .events-bkg {
    color: #BF4B21;
    font-weight: 900;
  }
  
  .concepts-bkg {
    color: #667339;
    font-weight: 900;
  }
  
  .keywords-bkg {
    color: #9CBCD9;
    font-weight: 900;
  }
  
  
  .animation-bkg {
    background-color: rgba(61, 156, 207, 0.5);
  }
  
  
  
  
  /*SINGLE MODAL*/
  
  .modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-entity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .modal-entity-creation, .modal-entity-creation-b {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }
  
.metadata-modal-btn {
    background-color: #5A8094 !important;
    border-color: #5A8094 !important;
}

.metadata-modal-btn:hover {
    background-color: #3c85ac !important;
    border-color: #3c85ac  !important;
}
  
  
  
  /*Multiple modal*/

.modal-content {
    font-family: 'Inknut Antiqua', serif !important;
}

  
  .width-80 {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: auto;
  }
  
  #mainModalContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }




.article-img-centre {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.figure-caption-centre {
    margin-bottom: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1em !important;
}



.notes-h3::first-letter, .references-h3::first-letter {

    float: none !important;
}
  
  .link-to-footnote{
    color: #5A8094;
  }
  
  .link-to-footnote:hover{
    cursor: pointer;
    color:rgba(0, 217, 255, 0.5);
  }



/* DISCLAIMER */
#disclaimerSection {
    overflow: hidden;
    font-family: 'Inknut Antiqua', serif !important;
}

#disclaimerBody p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

#disclaimerBody li {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}


#disclaimerTitle {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images_styles/incunabula/disclaimer_background_image.jpg");
    background-size: cover;
    overflow:hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    border-bottom: #212529 1px solid;
}

#disclaimerTitle h1 {
    grid-row: 4;
    grid-column: 3/7;
    align-self: center;
    z-index: 1;
}

#disclaimerTitle h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Inknut Antiqua', serif !important;
}

#disclaimerTitle p {
    grid-row: 6;
    grid-column: 2/8;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

#disclaimerTitle h1 {
    font-size: 4.5em;
}

#disclaimerBody {
    margin-top: 15vw;
    margin-right: 15vw;
    margin-left: 9vw;
    margin-bottom: 24vw;
}

#disclaimerPurpose h2::first-letter {
    font-size: 1.5em;
    float:left;
    padding-bottom: 0;
    padding: 2%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}

#disclaimerSources h2::first-letter {
    font-size: 1.5em;
    float:left;
    padding-bottom: 0;
    padding: 2%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}



/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: 'Inknut Antiqua', serif !important;
    font-size: 1.2em;
    margin-bottom: 1%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
}

/* Cpopyright */
footer div p {
    text-align: center;
    color: #212529;
}




