/*
    COLOR PALETTE
    #4C412E
    #F08B48
    #F6BF77
    #f0e5d1e6
    #5A8094
*/

/*
    font-family: 'Inknut Antiqua', serif;
*/

body {
    background-color: #f0e5d1e6 !important;
}



/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: #f0e5d1e6 !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}

.nav-text {
    color: #212529 !important;
    font-family: 'Inknut Antiqua', serif !important;
    font-weight: 700;
    font-size: larger;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}
  





/*BUTTONS SUB-SECTION */

.svg-inline--fa {
    height: 65% !important;
}

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}




/*Page presentation*/

.page-presentation {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/presentation_incunabula.png");
    background-size: cover;
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #212529 1px solid;
}


.title-container{
    grid-row: 3;
    grid-column: 3/7;
    z-index: 1;
}


.title-container h1 {
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    font-family: 'Inknut Antiqua', serif !important;
}

.subtitle-div {
    grid-row: 5;
    grid-column: 2/8;
    text-align: center;
}

#homeTp1 {
    font-size: 2vw;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif !important;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*MAIN*/

#styleChangePoster {
    display: none;
}

main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'Inknut Antiqua', serif !important;
}


#homeBody {
    margin-top: 15vw;
    margin-right: 15vw;
    margin-left: 9vw;
    margin-bottom: 24vw;
    display: flex;
    flex-direction: column;
    border-left: 5vw solid transparent;
    padding: 2vw;
    border-image: url("../images_styles/incunabula/ornament_incunabula.jpeg") 50 stretch;
}


#homeBody p {
    font-size: 1.1em;
    text-align: justify;
}

#homeBody h2::first-letter {
    font-size: 4em;
    float:left;
    padding-bottom: 0;
    margin-right: 3%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}

#homeBody h3::first-letter{
    font-size: 2em;
    float:left;
    padding-bottom: 0;
    margin-right: 1%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}


#homeBody h3 {
    margin-bottom: 2%;
}

.home-magazine-img-container {
    width: 100%;
    height: fit-content;
    background-color: #f0e5d1;
}
.home-magazine-img-container img {
    width: 100%;
    opacity: 0.9;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}

.esd-lt-block, .esd-rt-block {
    width: 44%;
}

.esd-lt-block div {
    margin-bottom: 1%;
}

.esd-rt-block div {
    margin-bottom: 1%;
}




/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: black;
}


.home-flex-row {
    margin-top: 40%;
}

.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}






/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: 'Inknut Antiqua', serif !important;
    font-size: 1.2em;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
}

/* Cpopyright */
footer div p {
    text-align: center;
    color: #212529;
}




