/*
    COLOR PALETTE
    #4C412E
    #F08B48
    #F6BF77
    #f0e5d1e6
    #5A8094
*/

/*
    font-family: 'Inknut Antiqua', serif;
*/

.article-container ol li, .article-comparison-container ol li {
    list-style: none;
}

.eye-container, .home-2030, #swissDocIllustration, .time-only, .time-title-paragraph, #timeImage, #timeImageDescription, #about2030Container, #nav2030, .link-time-home, .about-container, .envelope-show-on-small {
    display: none;
} 

h1 {
    font-size: clamp(2rem, 0.7273rem + 6.3636vw, 16rem) !important;
    margin-bottom: 5%;
}

h2 {
    font-size: clamp(1.5rem, 1.0909rem + 2.0455vw, 6rem) !important;
}

h3 {
    font-size: clamp(1.5rem, 1.1364rem + 1.8182vw, 5.5rem) !important;
}

p {
    font-size: clamp(1rem, 0.8636rem + 0.6818vw, 2.5rem) !important;
}

.nav-text {
    font-size: clamp(1rem, 0.7273rem + 1.3636vw, 4rem) !important;
}

.link-to-other-pages {
    font-size: clamp(1rem, 0.8182rem + 0.9091vw, 3rem) !important;
}

#homeTp1, #issueTp1 {
    margin-top: 5%;
    font-size: clamp(0.8rem, 0.5091rem + 1.4545vw, 4rem) !important;
}

footer p {
    font-size: clamp(0.8rem, 0.6000rem + 1.0000vw, 3rem) !important;
}

/* The Overlay (background) */

/* The Overlay (background) */

.overlay-style-page {
    display: none; 
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
}



.overlay-content {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 60%;
    text-align: left;
    z-index: 3;
    color: whitesmoke;
}

#generalOverlay h2, #incunabulaOverlay h2, #timeOverlay h2, #swissOverlay h2, #futureOverlay h2 {
    font-size: 3em;
    font-weight: 800;
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
}


.overlay-paragraph p:nth-child(1)::first-letter{
        font-size: 3.5em;
        float:left;
        padding-bottom: 0;
        padding: 2%;
        margin-right: 2%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
        background-size: cover;
        object-position: top;
        border: 5px solid #ed4007;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        font-weight: 100;
        color: #ed4007;
}


#generalOverlay h3, #incunabulaOverlay h3, #timeOverlay h3, #swissOverlay h3, #futureOverlay h3 {
    font-size: 2em;
    font-weight: 100;
    font-family: 'Inknut Antiqua', serif;
    margin-bottom: 1.2em;
    text-align: center;
}

#generalOverlay p, #incunabulaOverlay p, #timeOverlay p, #swissOverlay p, #futureOverlay p {
    font-family: 'Inknut Antiqua', serif;
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
    -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -o-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}




#general-overlay {
    display: block;
}

#incunabula-overlay, #time-overlay, #swiss-overlay, #future-overlay {
    display: none;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

body {
    background-color: #f0e5d1e6 !important;
}

#timeTitle {
    display: none;
}


/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
    z-index: 9 !important;
}

.navbar-nav a {
    padding: 0 .5rem;
    text-decoration: none;
}

.navbar-toggler span {
    height: 4px;
    width: 25px;
    display: block;
}

.navbar-toggler span:not(:last-child) {
    margin-bottom: .3rem;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}


.dark-nav-toggler span{
    background-color: #212529;
}

.light-nav-toggler span{
    background-color: #212529;
}

.active, .active-pizza, .active-issue {
    color: #ed4007 !important;
}

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: #f0e5d1e6 !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
}

.ddm-nav-text {
    color: #212529;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    padding: 1em;
}


.disabled-nav-text {
    font-family: 'Inknut Antiqua', serif;
    font-weight: 600;
    color: #21252966 !important;
}


.nav-text:hover {
    color: #ed4007 !important;
    background-color: none !important;
}


.ddm-nav-text:hover {
    color: #ed4007 !important;
    background-color: none !important;
}


.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}
  





/*BUTTONS SUB-SECTION */

.btns-grid-item button svg {
    width: 100%;
    height: 100%;
}

#timeMachineImg, #toTopContainer, #stylesBtnContainer {
    height: 85%;
}

  
#stylesBtn, #modalBtn, #toTopBtn  {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}


#toTopBtn {
    visibility: hidden;
}

  
  
.sub-btn {
    background-color: whitesmoke;
    width: 100%;
    height: 20%;
    border: none;
    display: none;
    box-shadow: 0px 8px 15px rgba(240, 229, 209, 0.3);
    border-radius: 50px;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    font-size: 1.2em;
}

.sub-btn:hover {
    box-shadow: 0px 12px 18px rgba(240, 229, 209, 0.1);
    scale: 1.1;
    transition: 400ms;
}




  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}



  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }

#modalBtn:hover, #stylesBtn:hover, #toTopBtn:hover {
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.8);
    transition: 400ms;
}






/*HOME*/

.page-presentation {
    overflow:hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);*/
    border-bottom: #212529 1px solid;
}

.index-page-presentation {
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/presentation_incunabula.png");
    background-size: cover;
    background-position: center;
}

.title-container h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
}

.subtitle-div {
    text-align: center;
}

#homeTp1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*HOME MAIN*/

#styleChangePoster {
    display: none;
}

.home-main, .issue-main, .documentation-main {
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Inknut Antiqua', serif;
}


#homeBody {
    margin-top: 15vw;
    margin-right: 15vw;
    margin-left: 9vw;
    margin-bottom: 24vw;
    display: flex;
    flex-direction: column;
    border-left: 5vw solid transparent;
    padding: 2vw;
    border-image: url("../images_styles/incunabula/ornament_incunabula.jpeg") 100 repeat;
}


#homeBody p {
    font-size: 1.2em;
    text-align: justify;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
         -o-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

#homeBody h2::first-letter {
    font-size: 3.5em;
    float:left;
    padding-bottom: 0;
    padding: 2%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}

#homeBody h3::first-letter{
    font-size: 2.5em;
    float:left;
    padding: 2%;
    margin: 0 3% 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}


#homeBody h3 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1%;
}


#homeBody a {
    color:#5A8094;
    text-decoration-color: #5A8094;
    transition: 300ms;
}

#homeBody a:hover {
    color: #3c85ac;
    text-decoration: none;
    transition: 300ms;
}

.home-magazine-img-container {
    width: 100%;
    height: fit-content;
    background-color: #f0e5d1;
}
.home-magazine-img-container img {
    width: 100%;
    opacity: 0.9;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}

.esd-lt-block, .esd-rt-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.esd-lt-block div {
    margin-bottom: 1%;
}

.esd-rt-block div {
    margin-bottom: 1%;
}




/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: black;
}



#magazineDescription {
    margin-bottom: 25%;
}

#magazineDescription :nth-child(2) {
    margin-bottom: 0;
}


.home-flex-row {
    margin: 20% 0 0 0;
}

.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}

#issuesFeaturesDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-link-container {
    margin: 0 !important;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.link-to-other-pages {
    padding: .5rem .5rem;
    background-color: none;
    border: solid 2px #212529;
    transition: 400ms;
    color: #5A8094;
    text-decoration: none;
    border-radius: 5px;
}


.link-to-other-pages:hover {
    transition: 400ms;
    background-color: #5A8094;
    color: #212529 !important;
}



#incunabulaPoster {
    width: 40%;
    margin: 5% 30% 8% 30%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 12px;
    transition: 400ms;
}

#incunabulaPoster:hover {
    width: 40%;
    margin: 5% 30% 8% 30%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 8px;
    transition: 400ms;
}




/*Documentation------------------------------*/

.documentation-page-presentation {
    background-image:linear-gradient(rgba(240, 229, 209, 0.6), rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.7)), url("../images_styles/incunabula/documentation_bkg.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
}


.doc-title-container h1 {
    font-weight: 700;
    font-family: 'Inknut Antiqua', serif;
}


.doc-subtitle-container p {
    font-size: 2em;
    font-family: 'Inknut Antiqua', serif;
}

#swissDocIllustration {
    display: none;
}


#documentationBody {
    margin-top: 15vw;
    margin-right: 15vw;
    margin-left: 9vw;
    margin-bottom: 24vw;
    display: flex;
    flex-direction: column;
    font-family: 'Inknut Antiqua', serif;
}


#documentationBody h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 2%;
    text-align: center;
}




#documentationBody p {
    font-size: 1.2em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

#documentationBody li {
    font-size: 1.1em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}



.doc-section {
    margin: 10% 0;
}

.doc-subsection {
    margin: 5% 0;
}

.doc-subsection h3::first-letter {
    float:left;
    padding: 2%;
    margin: 0 2% 0 0;
    font-size: 3em;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}



.doc-images-container, .doc-images-container-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%;
}

.doc-images-container-3  img {
    width: 30%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px;
}


.doc-images-container img {
    width: 40%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px;
}



.doc-figure-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 5%;
}


.doc-figure-container img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px;
}

.doc-figure-caption {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
}


#documentationBody blockquote p {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    font-size: 0.85em;
}

.blockquote-caption {
    margin-bottom: 1em;
    text-align: center;
}



#documentationBody a {
    color:#5A8094;
    text-decoration-color: #5A8094;
    transition: 300ms;
}

#documentationBody a:hover {
    color: #3c85ac;
    text-decoration: none;
    transition: 300ms;
}





/* About ------------------------------------ */


.about-main {
    background-image: linear-gradient(rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.85), rgba(240, 229, 209, 0.9), rgba(240, 229, 209, 0.9)), url("../images_styles/incunabula/about_bkg.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}


.about-page-presentation { /* with these margins we respect the horizontal proportion */
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 5%;
    margin-left: 3%;
    height: fit-content;
    border: none !important;
    justify-content: space-between;
}

#aboutDoubleContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#incunabulaAboutContainer {
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.1em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

#incunabulaAboutTitle {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
}



.editor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 47.5%;
}


.editor-img-container {
    width: 30%;
    max-height: 90%;
}

/*
TOLTO PERCHE NON MI SEMBRAVA UTILE 
.editor-image {
    max-width: 90%;
    max-height: 80%;
}
*/


.editor-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 65%;
}



.editor-name-mail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-beteween;
}

.editor-name-mail a {
    margin-left: 5%;
    font-size: 1.2em;
}



.editor-container p::first-letter  {
    font-size: 3.5em;
    float:left;
    padding-bottom: 0;
    padding:  1%;
    margin-right: 2%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}


.editor-name-mail h2 {
    font-size: 2.2em;
}

.fa-envelope {
    color:#5A8094;
    font-size: 1.3em;
    transition: 300ms;
}

.fa-envelope:hover {
    color: #3c85ac;
    scale: 1.05;
    transition: 300ms;
}





















/* ISSUES ------------------------------------ */

.issue-page-presentation {
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/anthropomorphic_pizza_guys_handmade_illustration__ac90dc65-ce4d-4bba-b56a-30e55755d3b3.png");
    background-size: cover;
    background-position: center;
}



#issueTp1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
}


.mode-selector {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5%;
    display: none;
    background-image: linear-gradient(0.25turn, rgba(255,255,255,0.2), rgba(255,255,255,0.4), rgba(255,255,255,0.4), rgba(255,255,255,0.2))  , url("../images_styles/incunabula/mode_selector_ornament.svg");
  }
  

.mode-selctor-btns-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  


  
.mode-selctor-btns-div button {
    padding: 1.5% 0;
    height: 100%;
    width: 25%;
    font-size: 1.5em;
    background-color:#f0e5d1e2;
    border: solid 2px;
}



.double-doc-selector {
    position: relative; 
    display: none;
    height: auto;
    z-index: 1;
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.double-doc-selector div {
    width: 47.5%;
    text-align: center;
}

.document-selection-container div {
    width: 100%;
}
  





.meta-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 3vw;
    margin-bottom: 8vw;
    justify-content: space-between;
}


.metadata-container {
    width: 28%;
    display: flex;
    flex-direction: column;
}
  
.sticky-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.card {
    background-color: transparent;
}
  
.card-header {
    padding:0 !important;
}

.card-header button{
    width: 100%;
}

  
.meta-menu-card{
    background-color: white !important;
}

.card-body li {
    padding: .5rem 0;
}

.card-body form div {
    margin: 1rem 0;
}


.entity-creation-form, .entity-creation-form-b {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}
  
  .entity-creation-form input {
    width: 100%;
  }
  
  .entity-creation-form-b input {
    width: 100%;
  }

.entity-string, .entity-string-b {
    border: solid 1px;
    margin: .5rem 0;
}




  
.entities-content-table {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.nav-items-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.nav-i, .nav-i-b {
    background-color: transparent;
    border: none;
    padding: 3% 5%;
}
  
.active-nav-i {
    background-color: #F6BF77;
    border: 1px solid;
}

  
.tab-content, .tab-content-b{
    display: none;
  }
  
  
.active-tc {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid;
    border-radius: 5px;
    overflow-y: scroll !important;
}

.active-tc li {
    padding-right: 1rem;
}




/*Artice container*/
.article-container {
    width: 70%;
    min-height: 200px;
}


.article-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    line-height: 2.4em;
}


.article-container li {
    padding: 1rem 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}


.article-section ~ p::first-letter {
    float:left;
    padding: 2%;
    margin: 0 2% 0 0;
    font-size: 3.5em !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}





.article-container h3 {
    margin-top: 2em;
}


.article-title, .author-info, .publication-info {
    padding-bottom: 1.5em;
    text-align: center !important;
    text-transform: uppercase;
}




.article-comparison-container h3 {
    margin-top: 2em;
}

.article-comparison-container {
    display: none;
}

.article-comparison-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    line-height: 2.4em;
}

.article-comparison-container li {
    padding: 1rem 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

.tab-content-b li a, .docs-list-a li a, .docs-list-b li a, .active-tc a, .active-tc-b a {
    color:#5A8094;
    text-decoration-color: #5A8094;
    transition: 300ms;
}

.tab-content-b li a:hover, .docs-list-a li a:hover, .docs-list-b li a:hover, .active-tc a:hover, .active-tc-b a:hover {
    color: #3c85ac;
    text-decoration: none;
    transition: 300ms;
}



.article-container li a, .article-comparison-container li a  {
    color: #5A8094 !important;
    transition: 300ms;
}

.article-container li a:hover, .article-comparison-container li a:hover {
    color: #3c85ac !important;
    text-decoration: none;
    transition: 300ms;
} 


.article-container a, .article-comparison-container a {
    color: #5A8094;
    transition: 300ms;
}

.article-container a:hover, .article-comparison-container a:hover {
    color: #3c85ac !important;
    text-decoration: none;
    transition: 300ms;
}



  
  .info-dl, .info-dl-b{
    padding: 2%;
  }
  
  
  .docs-list-a, .docs-list-b {
    margin: 0;
    padding-left: 1rem;
  }
  
  

  /*Span backgrounds*/
  
/*PALETTE: https://color.adobe.com/it/search?q=ancient%20book https://color.adobe.com/it/search?q=incunabula https://color.adobe.com/it/search?q=incunabula  https://color.adobe.com/it/search?q=incunabula*/

  .person-bkg {
    color: #F2B705 !important;
    font-weight: 900;
  }
  
  .places-bkg {
    color: #F08B48;
    font-weight: 900;
  }
  
  .organizations-bkg {
    color: rgb(102, 75, 121);
    font-weight: 900;
  }
  
  .events-bkg {
    color: #BF4B21;
    font-weight: 900;
  }
  
  .concepts-bkg {
    color: #667339;
    font-weight: 900;
  }
  
  .keywords-bkg {
    color: #9CBCD9;
    font-weight: 900;
  }
  
  
  .animation-bkg {
    background-color: rgba(61, 156, 207, 0.5);
  }
  
  
  
  
  /*SINGLE MODAL*/
  
  .modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-entity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .modal-entity-creation, .modal-entity-creation-b {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }
  
.metadata-modal-btn {
    background-color: #5A8094 !important;
    border-color: #5A8094 !important;
}

.metadata-modal-btn:hover {
    background-color: #3c85ac !important;
    border-color: #3c85ac  !important;
}
  
  
  
  /*Multiple modal*/

.modal-content {
    font-family: 'Inknut Antiqua', serif !important;
}

  
  .width-80 {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: auto;
  }
  
  #mainModalContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }




.article-img-centre {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.figure-caption-centre {
    margin-bottom: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1em !important;
}



.notes-h3::first-letter, .references-h3::first-letter {
    float: none !important;
}
  
  .link-to-footnote{
    color: #3c85ac;
    text-decoration: none;
    transition: 300ms;
  }
  
  .link-to-footnote:hover{
    cursor: pointer;
    color:rgba(0, 217, 255, 0.5);
  }



/* DISCLAIMER */
.disclaimer-main {
    background-image: linear-gradient(rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.85), rgba(240, 229, 209, 0.9), rgba(240, 229, 209, 0.9)), url("../images_styles/incunabula/disclaimer_background_image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

#swissDisclaimerTitle {
    display: none;
}


.disclaimer-page-presentation { /* with these margins we respect the horizontal proportion */
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 15%;
    height: fit-content;
    border: none !important;
}


#disclaimerSources, #disclaimerPurpose {
    font-size: 1.1em;
    font-family: 'Inknut Antiqua', serif;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}


#disclaimerSources h2, #disclaimerPurpose h2 {
    font-size: 2.2em;
}

#disclaimerPurpose {
    margin-bottom: 2.5%;
}


#disclaimerTitle h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    margin-bottom: 5%;
}


.incunabula-fp::first-letter  {
        font-size: 3.5em;
        float:left;
        padding-bottom: 0;
        padding: 1%;
        margin-right: 2%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
        background-size: cover;
        object-position: top;
        border: 5px solid #ed4007;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        font-weight: 100;
        color: #ed4007;
}


#disclaimerSources a {
        color:#5A8094;
        text-decoration-color: #5A8094;
        font-size: 500;
        transition: 300ms;
}

#disclaimerSources a:hover {
        color: #3c85ac;
        text-decoration: none;
        transition: 300ms;

}

.fa-github {
    color:#5A8094;
    font-size: 1.3em;
    transition: 300ms;
}

.fa-github:hover {
    color: #3c85ac;
    scale: 1.05;
    transition: 300ms;
}



/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 1.2em;
    margin-bottom: 1%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
}

/* Cpopyright */
footer div p {
    text-align: center;
    color: #212529;
}




@media only screen and (orientation: landscape) and (min-width: 1080px) {
    
}
@media only screen and (orientation: landscape) {
    .about-main {
        min-height: 100vh;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 5%;
        flex-direction: column;
        overflow: hidden;
    }
    .editor-container {
        margin: 5% 0;
    }
    .editor-container img {
        margin-top: 5%;
        width: 80%;
    }
}

/* 1036 */
@media only screen and (max-width: 1181px) and (orientation: landscape) {
    .about-main {
        padding: 10% 2%;
        min-height: 100vh;
        height: fit-content;
    } 
    .about-page-presentation {
        width: 100%;
        margin-left: 5%;
    }
}

/* 820 */
@media only screen and (max-width: 812px) and (orientation: landscape) {
    .about-main {
        min-height: 100vh;
        height: fit-content;
        padding-top: 10%;
        padding-bottom: 5%;
        flex-direction: column;
        overflow: hidden;
    }
    .about-page-presentation {
        width: 100%;
        margin-left: 5%;
    }
    .aboutDoubleContainer {
        flex-direction: column;
    }
    .editor-container {
        margin: 5% 0;
        flex-direction: row;
    }
    .editor1container {
        flex-direction: column;
    }
    .editor2container {
        flex-direction: column;
    }
    .editor-text-container {
        flex-direction: column;
        width: 98%;
    }
    .editor-img-container {
        width: 50%;
        margin-top: 2.5%;
        align-self: center;
    }
    .editor-img-container img {
        width: 80%;
        margin-top: 0;
    }
}

@media all and (orientation:portrait) {
    h2 {
        margin-bottom: 5%;
    }
    .home-main, .issue-main, .documentation-main {
        margin: 0;
    }
    #homeBody {
        margin-top: 5vw;
        margin-right: 1%;
        margin-left: 1%;
        margin-bottom: 8vw;
    }
    .navbar {
        padding: 1%;
        background-color: rgba(240, 229, 209, 0.95) !important;
        border-bottom: #212529 solid 1px;
    }

    footer div {
        width: 95% !important;
    }
    .documentationBody {
        width: 95%;
        margin-left: 3%;
        margin-right: 5%;
    }
    .about-main {
        min-height: 100vh;
        height: fit-content;
        padding-top: 25%;
        padding-bottom: 15%;
        flex-direction: column;
        overflow: hidden;
    }
    .about-page-presentation {
        width: 95%;
        margin-left: 3%;
        margin-right: 5%;
    }
    .aboutDoubleContainer {
        flex-direction: column;
    }
    .editor-container {
        flex-direction: column;
    }
    .editor1container {
        flex-direction: column;
    }
    .editor2container {
        flex-direction: column;
    }
    .editor-text-container {
        flex-direction: column;
        width: 98%;
    }
    .editor-img-container {
        width: 50%;
        margin: 5%;
        align-self: center;
    }
    .disclaimer-main {
        min-height: 100vh;
        height: fit-content;
        background-image: none;
        margin-top: 25%;
        margin-bottom: 15%;
        overflow: hidden;
    }
    .disclaimer-page-presentation {
        width: 95%;
        margin-left: 3%;
        margin-right: 5%;
    }
}

/* 1284 */
@media only screen and (max-width: 1284px) and (orientation: portrait) {

    .overlay-paragraph p:nth-child(1)::first-letter,
    #homeBody h2::first-letter, #homeBody h3::first-letter,
    .doc-subsection h3::first-letter, .editor-container p::first-letter,
    .article-section ~ p::first-letter, .incunabula-fp::first-letter {
        font-size: inherit;
        float: none;
        padding: 0;
        margin: 0;
        background-image: none;
        border: none;
        border-radius: none;
        font-weight: inherit;
        color: inherit;
    }
    .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .issue-main {
        overflow: hidden;
    }

    /* ABOUT */
    .about-main {
        min-height: 100vh;
        height: fit-content;
        padding-top: 25%;
        padding-bottom: 5%;
        flex-direction: column;
        overflow: hidden;
    }
    .about-page-presentation {
        width: 92%;
        margin-left: 3%;
        margin-right: 5%;
    }
    .aboutDoubleContainer {
        flex-direction: column;
    }
    .editor-container {
        flex-direction: row;
    }
    .editor1container {
        flex-direction: column;
    }
    .editor2container {
        flex-direction: column;
    }
    .editor-text-container {
        flex-direction: column;
        width: 98%;
    }
    .editor-img-container {
        width: 80%;
        align-self: center;
        margin-top: 0;
        margin-bottom: 2.5%;
        margin-right: 0;
        margin-left: 10%;
    }
    .editor-img-container img {
        width: 60%;
        align-self: center;
        border: solid 1.5px black;
    }

}

@media only screen and (max-width: 429px) and (orientation: portrait) {
    /* ABOUT */
    .about-main {
        min-height: 100vh;
        height: fit-content;
        padding-top: 25%;
        padding-bottom: 15%;
        flex-direction: column;
        overflow: hidden;
    }
    .about-page-presentation {
        width: 92%;
        margin-left: 3%;
        margin-right: 5%;
    }
    .aboutDoubleContainer {
        flex-direction: column;
    }
    .editor-container {
        margin-top: 15%;
        flex-direction: column;
    }
    .editor1container {
        flex-direction: column;
    }
    .editor2container {
        flex-direction: column;
    }
    .editor-text-container {
        flex-direction: column;
        width: 98%;
        margin-top: 5%;
    }
    .editor-img-container {
        width: 80%;
        align-self: center;
        margin-left: 30%;
    }
}




