/*
    COLOR PALETTE
    #4C412E
    #F08B48
    #F6BF77
    #f0e5d1e6
    #5A8094
*/

/*
    font-family: 'Inknut Antiqua', serif;
*/

body {
    background-color: #f0e5d1e6 !important;
}




/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: #f0e5d1e6 !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}

.nav-text {
    color: #212529 !important;
    font-family: 'Inknut Antiqua', serif !important;
    font-weight: 700;
    font-size: larger;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}
  





/*BUTTONS SUB-SECTION */



.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }








/*HOME*/

.page-presentation {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #212529 1px solid;
}

.index-page-presentation {
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/presentation_incunabula.png");
    background-size: cover;
}




.title-container{
    grid-row: 3;
    grid-column: 3/7;
    z-index: 1;
}


.title-container h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Inknut Antiqua', serif !important;
}

.subtitle-div {
    grid-row: 5;
    grid-column: 2/8;
    text-align: center;
}

#homeTp1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif !important;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*HOME MAIN*/

#styleChangePoster {
    display: none;
}

main {
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'Inknut Antiqua', serif !important;
}


#homeBody {
    margin-top: 15vw;
    margin-right: 15vw;
    margin-left: 9vw;
    margin-bottom: 24vw;
    display: flex;
    flex-direction: column;
    border-left: 5vw solid transparent;
    padding: 2vw;
    border-image: url("../images_styles/incunabula/ornament_incunabula.jpeg") 100 repeat;
}


#homeBody p {
    font-size: 1.5em;
    text-align: justify;
}

#homeBody h2::first-letter {
    font-size: 4em;
    float:left;
    padding-bottom: 0;
    margin-right: 3%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/trump_incunabula.png");
    background-size: cover;
    object-position: top;
    border: 5px solid #ed4007;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-weight: 100;
    color: #ed4007;
}

#homeBody h3::first-letter{
    font-size: 3em;
    float:left;
    padding-bottom: 0;
    margin: 0 3% 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}


#homeBody h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1%;
}

.home-magazine-img-container {
    width: 100%;
    height: fit-content;
    background-color: #f0e5d1;
}
.home-magazine-img-container img {
    width: 100%;
    opacity: 0.9;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}

.esd-lt-block, .esd-rt-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.esd-lt-block div {
    margin-bottom: 1%;
}

.esd-rt-block div {
    margin-bottom: 1%;
}




/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
    color: black;
}



#magazineDescription {
    margin-bottom: 25%;
}

#magazineDescription :nth-child(2) {
    margin-bottom: 0;
}


.home-flex-row {
    margin: 20% 0 0 0;
}

.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}

#issuesFeaturesDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-link-container {
    margin: 0 !important;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.link-to-other-pages {
    padding: 10px 10px;
    background-color: #dadadae6;
    transition: 600ms;
}


.link-to-other-pages:hover {
    transition: 600ms;
    border: solid 2px #212529;
}



#incunabulaPoster {
    width: 40%;
    margin: 5% 30% 8% 30%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 25px;
    transition: 400ms;
}

#incunabulaPoster:hover {
    width: 40%;
    margin: 5% 30% 8% 30%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 15px;
    transition: 400ms;
}







/* ISSUES ------------------------------------ */

.issue-page-presentation {
    background-image: linear-gradient(rgba(240, 229, 209, 0.7), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8), rgba(240, 229, 209, 0.8)), url("../images_styles/incunabula/anthropomorphic_pizza_guys_handmade_illustration__ac90dc65-ce4d-4bba-b56a-30e55755d3b3.png");
    background-size: cover;
}



#issueTp1 {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Inknut Antiqua', serif !important;
    grid-row: 5;
    grid-column: 3/7;
    text-align: center;
}


.mode-selector {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5%;
    display: none;
    background-image: linear-gradient(0.25turn, rgba(255,255,255,0.2), rgba(255,255,255,0.4), rgba(255,255,255,0.4), rgba(255,255,255,0.2))  , url("../images_styles/incunabula/mode_selector_ornament.svg");
  }
  

.h-flex-no-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  


  
.h-flex-no-wrap button {
    padding: 1.5% 0;
    height: 100%;
    width: 25%;
    font-size: 1.5em;
    background-color:#f0e5d1e2;
    border: solid 2px;
}



.double-doc-selector {
    position: relative; 
    visibility: hidden;
    height: 0;
    z-index: 999;
}
  
  
  
.width-100 {
    width: 100% !important;
}
  




.meta-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 3vw;
    margin-bottom: 8vw;
    justify-content: space-between;
}


.metadata-container {
    width: 28%;
    display: flex;
    flex-direction: column;
}
  
.sticky-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.card {
    background-color: transparent;
}
  
.card-header {
    padding: .5rem 0;
}
  
.meta-menu-card{
    background-color: white !important;
}

.card-body li {
    padding: .5rem 0;
}

.card-body form div {
    margin: 1rem 0;
}


.entity-creation-form, .entity-creation-form-b {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
  
  .entity-creation-form input {
    width: 100%;
  }
  
  .entity-creation-form-b input {
    width: 100%;
  }

.entity-string {
    border: solid 1px;
    margin: .5rem 0;
}




  
.entities-content-table {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.nav-items-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.nav-i, .nav-i-b {
    background-color: transparent;
    border: none;
    padding: 3% 5%;
}
  
.active-nav-i {
    background-color: #F6BF77;
    border: 1px solid;
}

  
.tab-content, .tab-content-b{
    display: none;
  }
  
  
.active-tc {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid;
    border-radius: 2%;
    overflow-y: scroll !important;
}

.active-tc li {
    padding-right: 1rem;
}




/*Artice container*/
.article-container {
    width: 70%;
    min-height: 200px;
  }

.article-container p {
    text-align: justify;
    font-size: 1.3em;
}

.article-container h3::first-letter {
    font-size: 3em;
    float:left;
    padding-bottom: 0;
    margin: 0 2% 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}


.article-container h3 {
    margin-top: 2em;
}


.article-title, .author-info, .publication-info {
    padding-bottom: 1.5em;
    text-align: center !important;
    text-transform: uppercase;
}




.article-comparison-container h3::first-letter {
    font-size: 3em;
    float:left;
    padding-bottom: 0;
    margin: 0 2% 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images_styles/incunabula/incunabula_background_letters.jpeg");
    background-size: cover;
    object-position: top;
    border: 2px solid #ed4007;
    font-weight: 100;
    color: #ed4007;
}

.article-comparison-container h3 {
    margin-top: 2em;
}

.article-comparison-container {
    display: none;
}

.article-comparison-container p {
    text-align: justify;
    font-size: 1.3em;
}



li a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-comparison-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

  
  .info-dl, .info-dl-b{
    padding: 2%;
  }
  
  
  .docs-list-a, .docs-list-b {
    margin: 0;
    padding-left: 1rem;
  }
  
  
  
  /*Span backgrounds*/
  
  .person-bkg {
    background-color: rgba(0, 217, 255, 0.5);
  }
  
  .places-bkg {
    background-color: rgba(182, 143, 87, 0.628);
  }
  
  .organizations-bkg {
    background-color: rgba(102, 75, 121, 0.483);
  }
  
  .events-bkg {
    background-color: rgba(165, 42, 42, 0.569);
  }
  
  .concepts-bkg {
    background-color: rgba(88, 137, 74, 0.462);
  }
  
  .keywords-bkg {
    background-color: rgba(126, 50, 197, 0.537);
  }
  
  
  .animation-bkg {
    background-color: rgba(25, 105, 171, 0.671);
  }
  
  
  
  
  /*SINGLE MODAL*/
  
  .modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-entity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .modal-entity-creation, .modal-entity-creation-b {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }
  

  
  
  
  /*Multiple modal*/
  .entity-type-selection, .entity-type-selection-b {
    height: 100%;
  }
  
  .width-80 {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: auto;
  }
  
  #mainModalContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }




.article-img-centre {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.figure-caption-centre {
    margin-bottom: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1em !important;
}



.notes-h3, .references-h3 {
    padding-bottom: 3em;
}
  
  .link-to-footnote{
    color: blue;
  }
  
  .link-to-footnote:hover{
    cursor: pointer;
    color:rgba(0, 217, 255, 0.5);
  }




/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: 'Inknut Antiqua', serif !important;
    font-size: 1.2em;
    margin-bottom: 1%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
}

/* Cpopyright */
footer div p {
    text-align: center;
    color: #212529;
}




