.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler:hover{
  box-shadow: 0 0 0 0.1rem !important;
}

#buttonsContainer {
    display:flex;
    flex-direction: column;
    height: 45vmin;
    width: auto;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    align-items: flex-end;
    justify-content: space-evenly;
    
}

#toTopContainer {
  width: 100%;
  height: auto;

}

#btnsGeneralFlexContainer{
  aspect-ratio: 2/2.25;
  display: flex;
  flex-direction: row;
}

#emptyLeftContainer{
  aspect-ratio: 1/2.25;
}

#mainBtnsRightContainer{
  aspect-ratio: 1/2.25;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#secondaryBtnsContainer{
  display: flex;
  flex-direction: column;
}

#toTopBtn {
    aspect-ratio : 1 / 1;
    width: 100%;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}


.btn-main {
  aspect-ratio : 1 / 1;
  border-radius: 50% !important;
  border: none;
  width: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}



.btn-sub {
  aspect-ratio: 3/1;
  visibility: hidden;
  -webkit-transition: all 2s;
  transition: all 0.5s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}


.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}


#styleP {
  margin: 0;
  padding: 0;
  border: 0;
}