.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}


#buttonsContainer {
    height: 100px;
    position: fixed;
    bottom: 5vmin;
    right: 5vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#toTopBtn {
    visibility: hidden;
    background-color: blue;
    border-radius: 50%;
    border: none;
    color: white;
      width: 40px;
    height: 40px;
}


.btn-group-fab .btn {
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
}

.btn-group-fab .btn-main {
  z-index: 9;
}
.btn-group-fab .btn-sub {
    z-index: 8;
    -webkit-transition: all 2s;
    transition: all 0.5s;
}

.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}