.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler:hover{
  box-shadow: 0 0 0 0.1rem !important;
}

.dark-background {
  background-color: rgb(24, 31, 31);
}

.white-text {
  color: whitesmoke;
}

/*FOOTER*/
footer {
  height: 30vh;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
}

/*BUTTONS SUB-SECTION */
#buttonsContainer {
    display:flex;
    flex-direction: column;
    height: 40vmin;
    width: auto;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    align-items: flex-end;
    justify-content: space-between;
}

#secondaryBtnsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 60%;
  justify-content: space-between;
  align-items: flex-end;
}


#mainBtnsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 38%;
}

#mainBtnsEmptyLeftContainer{
  width: 35%;
}

#mainBtnsRightContainer{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}



#toTopContainer {
  width: 100%;
}

#stylesBtnContainer{
  width: 100%
}



#toTopBtn {
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  visibility: hidden;
  background-color: whitesmoke;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

#stylesBtn {
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.subBtn {
  width: 150%;
  height: 20%;
  border: none;
  visibility: hidden;
  -webkit-transition: all 2s;
  transition: all 0.5s;
  -moz-transition: 0.5s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}





/*MAIN*/
.last-container {
  padding-bottom: 10%;
}

.page-presentation{
  background-color: rgb(100, 188, 172);
  height: 60vh;
  width: 100%;
}

.title-container {
  background-color: rgba(84, 88, 128, 0.5);
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.text-pill {
  width: 50%;
}

.home-body {
  background-color: bisque;
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  padding-top: 10%;
}


#magazineDescription {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}


.text-left-container{
  padding-top: 10%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-block-left {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#linkToIssues {
  height: 20%;
  width: 40%;
}

.text-block-left {
  width: 50%;
}

.content-block-right {
  width: 50%;
}


.text-right-container {
  padding-top: 10%;
  display:flex;
  flex-direction: row;
}

.text-block-right {
  width: 50%;
}


.content-block-left {
  width: 50%;
}


.text-block-right h3 {
  text-align: end;
}

.text-block-right p {
  text-align: end;
}


.horizontal-double-container {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.vertical-sub-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

/*DISCLAIMER*/
#disclaimerBody {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 10%;
}




/*ISSUES*/

.meta-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
}

.docs-list-container {
  width: 25%;
}

.article-section {
  width: 75%
}