.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler:hover{
  box-shadow: 0 0 0 0.1rem !important;
}


#buttonsContainer {
    display:flex;
    flex-direction: column;
    height: 40vmin;
    width: auto;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    align-items: flex-end;
    justify-content: space-between;
}

#secondaryBtnsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 60%;
  justify-content: space-between;
  align-items: flex-end;
}


#mainBtnsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 38%;
}

#mainBtnsEmptyLeftContainer{
  width: 35%;
}

#mainBtnsRightContainer{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}



#toTopContainer {
  width: 100%;
}

#stylesBtnContainer{
  width: 100%
}



#toTopBtn {
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  visibility: hidden;
  background-color: whitesmoke;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

#stylesBtn {
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.subBtn {
  width: 150%;
  height: 20%;
  border: none;
  -webkit-transition: all 2s;
  transition: all 0.5s;
  -moz-transition: 0.5s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}





#styleP {
  margin: 0;
  padding: 0;
  border: 0;
}