nav {
  width: 100% !important;
  position: fixed !important;

}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler:hover{
  box-shadow: 0 0 0 0.1rem !important;
}

.dark-background {
  background-color: rgb(24, 31, 31);
}

.white-text {
  color: whitesmoke;
}




/*FOOTER*/
footer {
  height: 30vh;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
}

/*BUTTONS SUB-SECTION */

.btn-icon {
  font-size: 1.4vmax;
}

#buttonsContainer {
    /*whidth and height are defined in media queries */
    display:flex;
    flex-direction: column;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 9999;
}

#secondaryBtnsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 62%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}


#mainBtnsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 36%;
}

#mainBtnsEmptyLeftContainer{
  width: 66%;
}

#mainBtnsRightContainer{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}



#toTopContainer {
  width: 100%;
}

#stylesBtnContainer{
  width: 100%
}



#toTopBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  visibility: hidden;
  background-color: whitesmoke;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

#stylesBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.subBtn {
  width: 100%;
  height: 20%;
  border: none;
  visibility: hidden;
  -webkit-transition: all 2s;
  transition: all 0.5s;
  -moz-transition: 0.5s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}





/*MAIN*/
.last-container {
  padding-bottom: 10%;
}

.page-presentation{
  background-color: rgb(100, 188, 172);
  height: 60vh;
  width: 100%;
}

.title-container {
  background-color: rgba(84, 88, 128, 0.5);
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.text-pill {
  width: 50%;
}

.home-body {
  background-color: bisque;
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  padding-top: 10%;
}


#magazineDescription {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}


.text-left-container{
  padding-top: 10%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-block-left {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#linkToIssues {
  height: 20%;
  width: 40%;
}

.text-block-left {
  width: 50%;
}

.content-block-right {
  width: 50%;
}


.text-right-container {
  padding-top: 10%;
  display:flex;
  flex-direction: row;
}

.text-block-right {
  width: 50%;
}


.content-block-left {
  width: 50%;
}


.text-block-right h3 {
  text-align: end;
}

.text-block-right p {
  text-align: end;
}


.horizontal-double-container {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.vertical-sub-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

/*DISCLAIMER*/
#disclaimerBody {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 10%;
}




/*ISSUES*/
.modal-btn-container {
  visibility: hidden;
  width: 0;
}

.modal-btn {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.mode-selector {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.h-flex-no-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-space-btw {
  justify-content: space-between !important;
}

.h-flex-no-wrap button {
  height: 100%;
  width: 20%;
}

.double-doc-selector {
  visibility: hidden;
  height: 0;
}



.width-100 {
  width: 100% !important;
}

.card {
  background-color: none !important;
}

.card-header {
  background-color: transparent !important;
  padding: 0 !important;
}

.meta-menu-card{
  background-color: white !important;
}

.meta-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: 5%;
  justify-content: space-between;
}

.metadata-container {
  width: 28%;
  display: flex;
  flex-direction: column;
}

.sticky-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.metadata-container > div {  /*Select only first level div children*/
  margin: 5% 0;
}


.article-section {
  width: 70%;
}

.comparison-article-section {
  width: 0;
  visibility: hidden;
}


.entity-creation-div {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.entity-creation-div input {
  width: 100%;
}

.entities-content-table {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-items-div {
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.nav-i {
  background-color: transparent;
  border: none;
  padding: 3% 5%;
  color:rgb(202, 212, 213);
}

.active-nav-i {
  background-color: rgb(196, 127, 127);
  border: none;
}

.tab-content {
  width: 100%;
  border: 1px solid;
  border-radius: 2%;
  min-height: 200px;
}



/*Span backgrounds*/

.person-bkg {
  background-color: rgba(0, 217, 255, 0.5);
}

.places-bkg {
  background-color: rgba(182, 143, 87, 0.628);
}

.organizations-bkg {
  background-color: rgba(102, 75, 121, 0.483);
}

.events-bkg {
  background-color: rgba(165, 42, 42, 0.569);
}