/*

  FUTURE
  - SCRITTE PICCOLE
  - GRADIENTI
  - ANIMAZIONI 3D
  - AUDIO
*/


nav, main, footer, #homeTp2, #homeTp3, #homeTp4 {
  display: none !important;
}


body {
  background: linear-gradient(90deg, rgb(97, 126, 85) 0%, rgb(89, 125, 88) 50%, rgba(92,108,87,1) 100%);
}

.page-presentation {
  width: 100vw;
  height: 90vh;
}



.title-container {
  position: absolute;
  left: 15%;
  top: 40%;
}

.title-container h1 {
  color: rgba(46, 56, 40, 0.6);
  font-size: 6em;
  font-weight: 800;
}


.subtitle-div {
  position: absolute;
  left: 15%;
  top: 60%;
  width: 20%;
  color: whitesmoke;
  padding-left: 0.5rem;
  border-left: 2px solid whitesmoke;
  font-size: 0.8em;
}

.subtitle-div p {
  margin: 0;
  padding: 0;
}



#nav2030 {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: -1;
  height: 11vh;
  width: 100%;
  color: whitesmoke;
  font-size: 1.2em;
  background: linear-gradient(90deg, rgb(97, 126, 85) 0%, rgb(89, 125, 88) 50%, rgba(92,108,87,1) 100%);
  z-index: 99;
  border-bottom: solid 1px rgba(245, 245, 245, 0.6);

}

#centerNav2030 {
  border-top: solid 1px rgba(245, 245, 245, 0.6);
  width: 30% !important;
  margin-left: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 1.5rem 0;
}


.nav-text {
  color: rgba(245, 245, 245, 0.6);
  text-decoration: none;
  margin: 0;
  font-size: 0.8em;
  padding: 0 .5rem;
}


.nav-text:hover {
  color: whitesmoke;
}

.active-nav-2030 {
  color: whitesmoke !important;
}


.div-2030 {
  width: 42.5%;
  margin-left: 20%;
  margin-top: 15%;
}


.div-2030 p {
  color: rgba(245, 245, 245, 0.7);
  font-size: 0.9em;
  transition: 600ms;
}

.div-2030 p:hover {
  color: rgba(245, 245, 245, 0.9);
  scale: 1.02;
  transition: 600ms;
}



#secondDiv2030 img {
  width: 20%;
  opacity: 0.7;
}
















/* The Overlay (background) */
.overlay-style-page {
  display: none; 
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
 }

.overlay-content {
  position: absolute;
  bottom: 25%; 
  left: 25%;
  width: 25%; /* 100% width */
  text-align: left;
  z-index: 3;
  color: whitesmoke;
}

#general-overlay {
  display: block;
}

#incunabula-overlay, #time-overlay, #swiss-overlay, #future-overlay {
  display: none;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/







/*BUTTONS SUB-SECTION */

.btns-grid-item button svg {
  width: 70%;
  height: 70%;
}

#timeMachineImg {
  height: 85%;
}


#toTopContainer {
  width: 100%;
}

#stylesBtnContainer{
  width: 100%
}


#toTopBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  visibility: hidden;
  background-color: whitesmoke;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: 400ms;
}

#stylesBtn {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: 400ms
}

.sub-btn {
  background-color: whitesmoke;
  width: 100%;
  height: 20%;
  border: none;
  display: none;
  box-shadow: 0px 8px 15px rgba(240, 229, 209, 0.3);
  border-radius: 50px;
  font-family: 'Inknut Antiqua', serif;
  font-weight: 700;
  font-size: 1.2em;
}

.sub-btn:hover {
  box-shadow: 0px 12px 18px rgba(240, 229, 209, 0.1);
  scale: 1.1;
  transition: 400ms;
}





.btns-grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  position: fixed;
  bottom: 3.5vmin;
  right: 3.5vmin;
  row-gap: 2vmax;
  z-index: 999;
}

.btns-grid-container div button {
  height: 100%;
}

.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
  grid-column: 1/4;
}

.btns-item-5, .btns-item-7, .btns-item-9  {
  grid-column: 1/3;
}

.modal-btn {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  background-color: whitesmoke;
  transition: 400ms;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.modal-btn:hover, #stylesBtn:hover, #toTopBtn:hover {
  box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.8);
  transition: 400ms;
}
















/*ISSUES*/
.modal {
  z-index: 9999;
}

.btns-item-9, .btns-item-10 {
  display: none;
}

.modal-btn {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.mode-selector {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.h-flex-no-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-space-btw {
  justify-content: space-between !important;
}

.h-flex-no-wrap button {
  height: 100%;
  width: 20%;
}

.double-doc-selector {
  position: relative; 
  visibility: hidden;
  height: 0;
  z-index: 999;
}



.width-100 {
  width: 100% !important;
}

.card {
  background-color: none !important;
}

.card-header {
  background-color: transparent !important;
  padding: 0 !important;
}

.meta-menu-card{
  background-color: white !important;
}

.meta-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: 5%;
  justify-content: space-between;
}

.metadata-container {
  width: 28%;
  display: flex;
  flex-direction: column;
}

.sticky-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.metadata-container > div {  /*Select only first level div children*/
  margin: 5% 0;
}


.article-container {
  width: 70%;
  min-height: 200px;
}

.article-comparison-container {
  display: none;
}


.entity-creation-form, .entity-creation-form-b {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.entity-creation-form input {
  width: 100%;
}

.entity-creation-form-b input {
  width: 100%;
}

.entities-content-table {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-items-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.nav-i, .nav-i-b {
  background-color: transparent;
  border: none;
  padding: 3% 5%;
}

.active-nav-i {
  background-color: rgb(196, 127, 127);
  border: none;
}

.tab-content, .tab-content-b{
  display: none;
}


.active-tc {
  display: block !important;
  width: 100% !important;
  height: 200px !important;
  border: 1px solid;
  border-radius: 2%;
  overflow-y: scroll !important;
}

.info-dl, .info-dl-b{
  padding: 2%;
}


.docs-list-a, .docs-list-b {
  margin: 0;
  padding-left: 1rem;
}



/*Span backgrounds*/

.person-bkg {
  background-color: rgba(0, 217, 255, 0.5);
}

.places-bkg {
  background-color: rgba(182, 143, 87, 0.628);
}

.organizations-bkg {
  background-color: rgba(102, 75, 121, 0.483);
}

.events-bkg {
  background-color: rgba(165, 42, 42, 0.569);
}

.concepts-bkg {
  background-color: rgba(88, 137, 74, 0.462);
}

.keywords-bkg {
  background-color: rgba(126, 50, 197, 0.537);
}


.animation-bkg {
  background-color: rgba(25, 105, 171, 0.671);
}




/*SINGLE MODAL*/

.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-entity-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-entity-creation, .modal-entity-creation-b {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 5% 0;
}

.entity-string, .entity-string-b{
  width: auto !important;
}



/*Multiple modal*/
.entity-type-selection, .entity-type-selection-b {
  height: 100%;
}

.width-80 {
  width: 80% !important;
  margin-left: 10% !important;
  margin-right: auto;
}

#mainModalContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}




.visible {
  visibility: visible !important;
  width: 100% !important;
  display: block !important;
}

.hidden {
  display: none !important;
}


.article-img-centre, .figure-caption-centre {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}



.link-to-footnote{
  color: blue;
}

.link-to-footnote:hover{
  cursor: pointer;
  color:rgba(0, 217, 255, 0.5);
}

.btns-grid-item button svg {
  width: 75%;
  height: 75%;
}



.circles-animation {
  display: none;
}



/*
.animate {
  animation-name: bgcolor ;
  animation-duration: 0.75s ; 
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes bgcolor {
  from { background-color: #ffffff;  }
  to { background-color: #cccc00; }
}
*/