nav {
  width: 100% !important;
  position: fixed !important;

}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler:hover{
  box-shadow: 0 0 0 0.1rem !important;
}

.dark-background {
  background-color: rgb(24, 31, 31);
}

.white-text {
  color: whitesmoke;
}




/*FOOTER*/
footer {
  height: 30vh;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
}

/*BUTTONS SUB-SECTION */

.btn-icon {
  font-size: 1.4vmax;
}




#toTopContainer {
  width: 100%;
}

#stylesBtnContainer{
  width: 100%
}



#toTopBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  visibility: hidden;
  background-color: whitesmoke;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

#stylesBtn {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

.sub-btn {
  width: 100%;
  height: 20%;
  border: none;
  visibility: hidden;
  -webkit-transition: all 2s;
  transition: all 0.5s;
  -moz-transition: 0.5s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}




.btns-grid-container {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px;
  position: fixed;
  bottom: 2.5vmin;
  right: 2.5vmin;
  row-gap: 2vmax;
  z-index: 999;
}

.btns-grid-container div button {
  height: 100%;
}

.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
  grid-column-start: 1;
  grid-column-end: 4;
}

.btns-item-5, .btns-item-7, .btns-item-9  {
  grid-column-start: 1;
  grid-column-end: 3;
}













/*MAIN*/
.last-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

.page-presentation{
  background-color: rgb(100, 188, 172);
  height: 60vh;
  width: 100%;
}

.title-container {
  background-color: rgba(84, 88, 128, 0.5);
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.text-pill {
  width: 50%;
}

#homeBody {
  background-color: bisque;
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
  padding-top: 10%;
}


#magazineDescription {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

.home-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5%;
  column-gap: 5%;
}


.text-left-container{
  padding-top: 10%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.content-block-left {
  display:flex;
  justify-content: center;
  align-items: center;
}

.link-to-other-pages {
  text-decoration: none;
  padding: 2.5%;
  border: solid 1px black;
  
}



.text-block-left {
  width: 50%;
}

.content-block-right {
  width: 50%;
}


.text-right-container {
  padding-top: 10%;
  display:flex;
  flex-direction: row;
}

.text-block-right {
  width: 50%;
}


.content-block-left {
  width: 50%;
}


.text-block-right h3 {
  text-align: end;
}

.text-block-right p {
  text-align: end;
}






/*DISCLAIMER*/
#disclaimerBody, #documentationBody {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 10%;
}




/*ISSUES*/
.modal {
  z-index: 9999;
}

.btns-item-9, .btns-item-10 {
  display: none;
}

.modal-btn {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: right;
  border-radius: 50%;
  border: none;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.mode-selector {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.h-flex-no-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-space-btw {
  justify-content: space-between !important;
}

.h-flex-no-wrap button {
  height: 100%;
  width: 20%;
}

.double-doc-selector {
  position: relative; 
  visibility: hidden;
  height: 0;
  z-index: 999;
}



.width-100 {
  width: 100% !important;
}

.card {
  background-color: none !important;
}

.card-header {
  background-color: transparent !important;
  padding: 0 !important;
}

.meta-menu-card{
  background-color: white !important;
}

.meta-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  margin: 5%;
  justify-content: space-between;
}

.metadata-container {
  width: 28%;
  display: flex;
  flex-direction: column;
}

.sticky-container {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.metadata-container > div {  /*Select only first level div children*/
  margin: 5% 0;
}


.article-container {
  width: 70%;
  min-height: 200px;
}

.article-comparison-container {
  display: none;
}


.entity-creation-form, .entity-creation-form-b {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.entity-creation-form input {
  width: 100%;
}

.entity-creation-form-b input {
  width: 100%;
}

.entities-content-table {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-items-div {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.nav-i, .nav-i-b {
  background-color: transparent;
  border: none;
  padding: 3% 5%;
}

.active-nav-i {
  background-color: rgb(196, 127, 127);
  border: none;
}

.tab-content, .tab-content-b{
  display: none;
}


.active-tc {
  display: block !important;
  width: 100% !important;
  height: 200px !important;
  border: 1px solid;
  border-radius: 2%;
  overflow-y: scroll !important;
}

.info-dl, .info-dl-b{
  padding: 2%;
}


.docs-list-a, .docs-list-b {
  margin: 0;
  padding-left: 1rem;
}



/*Span backgrounds*/

.person-bkg {
  background-color: rgba(0, 217, 255, 0.5);
}

.places-bkg {
  background-color: rgba(182, 143, 87, 0.628);
}

.organizations-bkg {
  background-color: rgba(102, 75, 121, 0.483);
}

.events-bkg {
  background-color: rgba(165, 42, 42, 0.569);
}

.concepts-bkg {
  background-color: rgba(88, 137, 74, 0.462);
}

.keywords-bkg {
  background-color: rgba(126, 50, 197, 0.537);
}


.animation-bkg {
  background-color: rgba(25, 105, 171, 0.671);
}




/*SINGLE MODAL*/

.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-entity-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-entity-creation, .modal-entity-creation-b {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 5% 0;
}

.entity-string, .entity-string-b{
  width: auto !important;
}



/*Multiple modal*/
.entity-type-selection, .entity-type-selection-b {
  height: 100%;
}

.width-80 {
  width: 80% !important;
  margin-left: 10% !important;
  margin-right: auto;
}

#mainModalContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}




.visible {
  visibility: visible !important;
  width: 100% !important;
  display: block !important;
}

.hidden {
  display: none !important;
}


.article-img-centre, .figure-caption-centre {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}



.link-to-footnote{
  color: blue;
}

.link-to-footnote:hover{
  color:rgba(0, 217, 255, 0.5);
}

/*
.animate {
  animation-name: bgcolor ;
  animation-duration: 0.75s ; 
  animation-iteration-count: 3;
  animation-fill-mode: backwards;
}

@keyframes bgcolor {
  from { background-color: #ffffff;  }
  to { background-color: #cccc00; }
}
*/