.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler:hover{
  box-shadow: 0 0 0 0.1rem !important;
}

#buttonsContainer {
    display:flex;
    flex-direction: column;
    height: 35vmax;
    width: auto;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    
}


#toTopBtn {
    aspect-ratio : 1 / 1;
    width: 100%;
    visibility: hidden;
    background-color: blue;
    border-radius: 50%;
    border: none;
    color: white;
    
}


.btn-main {
  aspect-ratio : 1 / 1;
  border-radius: 50% !important;
  border: none;
  width: 100%;
}




.btn-sub {
  width: 300%;
  visibility: hidden;
  -webkit-transition: all 2s;
  transition: all 0.5s;
}


.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}