@media only screen and (orientation: landscape) and (min-width: 1080px) {
    .mode-selector {
        display: block !important;
    }
}



@media only screen and (max-width: 768px), (orientation: portrait) and (max-width: 1280px) {

    .meta-text-container {
        flex-direction: column !important;
    }

    .sm-d-hide {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .sm-d-show {
        visibility: visible;
        width: 100% !important;
        height: auto;
    }

    .metadata-container {
        width: 100% !important;
        margin-bottom: 10%;
    }
    
    .article-container {
        width: 100% !important;
    }


    .btns-item-9, .btns-item-10 {
        visibility: visible !important;
        width: 100% !important;
        display: block !important;
    }

    .right-modal-entity-s, .left-modal-entity-s {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }




}

@media only screen and (max-width:720px), (orientation: portrait) and (max-width: 1280px) and (max-aspect-ratio:9/16) {
    .btns-grid-container {
        scale: .8;
        bottom: 1vmin;
        right: 2vmin;
        row-gap: 3vmax;
    }

    .overlay-paragraph {
		display: none !important;
	}

    .btns-grid-item button svg {
        height: 80%;
        width: 80%;
    }
}





@media only screen and (orientation: landscape) and (min-aspect-ratio:18/9) {
    .btns-grid-container {
        scale: .6;
        bottom: 0.1vmin;
        right: 1vmin;
        row-gap: 1.5vmax;
    }
    .overlay-paragraph {
        display: none;
    }
}

/*
@media only screen and (max-width: 360) {
    .overlay-content {
        display: none;
    }
}
*/