@media only screen and (orientation: landscape) and (min-width: 1080px) {
    .mode-selector {
        width: 100%;
        height: 3vmax;
        margin: 0;
        padding: 0;
        visibility: visible !important;
      }
}




@media only screen and (orientation: landscape) {
    #buttonsContainer{
        height: 40vmin;
        width: 10vmax;
    }
}

@media only screen and (min-aspect-ratio: 2/1) and (orientation: landscape) {
    #buttonsContainer{
        height: 60vmin;
        width: 10vmax;
    }
}

@media only screen and (min-aspect-ratio: 3/1) and (orientation: landscape) {
    #buttonsContainer{
        height: 70vmin;
        width: 10vmax;
    }
}




@media only screen and (orientation: portrait) {
    #buttonsContainer{
        height: 35vmax;
        width: 15vmax;
    }
}


@media only screen and (orientation: portrait) and (max-width: 680px) {
    #buttonsContainer{
        height: 80vmin;
        width: 10vmax;
    }

    .meta-text-container {
        flex-direction: column !important;
    }

    .sm-d-hide {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .sm-d-show {
        visibility: visible;
        width: 100% !important;
        height: auto;
    }

    .metadata-container {
        width: 100% !important;
    }
    .article-container {
        width: 100% !important;

    }

    .modal-btn-container {
        visibility: visible !important;
        width: 100% !important;
    }

}


