@media only screen and (orientation: landscape) and (min-width: 1080px) {
    .mode-selector {
        display: block !important;
    }
}



@media only screen and (max-width: 768px), (orientation: portrait) and (max-width: 1280px) {

    .meta-text-container {
        flex-direction: column !important;
    }

    .sm-d-hide {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .sm-d-show {
        visibility: visible;
        width: 100% !important;
        height: auto;
    }

    .metadata-container {
        width: 100% !important;
        margin-bottom: 10%;
    }
    
    .article-container {
        width: 100% !important;
    }


    .btns-item-9, .btns-item-10 {
        visibility: visible !important;
        width: 100% !important;
        display: block !important;
    }

}

