/*
    COLOR PALETTE
    #D62503
    white
*/

/*
    font-family: 'Cinzel', serif;
*/

/*
    SFONDO MARGINE CON LINEE COLORATE
    background: repeating-linear-gradient(
            to right,
            black,
            black 2px,
            white 2px,
            white 4px
        );
*/

body {
    background-color: white !important;
    border-left: #D62503 3vw solid; /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    border-right: #D62503 3vw solid;              /* QUELLE SCRITTE QUI SONO A CASO */
}


/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
    z-index: 100;
    margin-left: -3vw; /* DIMENSIONE DA CAMBIARE IN ACCORDO CON QUELLA DEI MARGINI DEL BODY */
}

.nav-transparent-background {
    background-color: #D62503 !important;
}

.nav-colored-background {
    background-color: rgba(214, 37, 3, 1) !important;
    transition: 0.2s ease-in-out;
}

.nav-text {
    color: #212529 !important;
    font-family: 'Cinzel', serif !important;
    font-weight: 500;
    text-align: left;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}

.dropdown-menu {
    background-color: #D62503;
    color: black;
}
  




/*BUTTONS SUB-SECTION */

.svg-inline--fa {
    height: 65% !important;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(214, 37, 3, 0.8);
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(214, 37, 3, 0.8);
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(214, 37, 3, 0.8) 
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}




/*Page presentation*/

.page-presentation {
    height: 100vh; /* Va bene così, perché deve sembrare la cover di time, quindi deve occupare tutto il viewport*/
    display: grid;
    grid-template-columns: repeat(9, 12.5%);
    grid-template-rows: repeat(9, 12.5%);
    background-color: white;
    background-size: cover;
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #D62503 3vw solid; /* LA MISURA è A CASO!!!! DA GIUSTIFICARE */
}


.title-container{
    grid-row: 3;
    grid-column: 2/8;
    z-index: 1;
}

/* It is fot the "The" of "The conspiracist" */
.invisiblePart {
    display: none;
}

.title-container h1 {
    font-size: 8vw;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Cinzel', serif !important;
}

.subtitle-div {
    grid-row: 7;
    grid-column: 2/8;
    text-align: center;
}

#homeTp1 {
    font-size: 2vw;
    font-weight: 300;
    font-family: 'Cinzel', serif !important;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*MAIN*/
main {
    font-family: 'Cinzel', serif !important;
}

#homeBody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 7.6%);
    grid-template-rows: repeat(12, 7.6%);
    gap: 0.8%;
}

.home-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.row-rt-block, .row-lt-block {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#magazineDescription {
    grid-row: 1/8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}


#styleChangeDescription {
    grid-area: 4/3/6/11;
}

#issuesFeaturesDescription {
    grid-area: 7/3/9/11;
}

#editorsAndSourcesDescription {
    grid-area: 10/3/13/11;
}


#homeBody p {
    font-size: 1.1em;
    text-align: justify;
}



#homeBody h3 {
    margin-bottom: 2%;
}


#editorsAndSourcesDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
}

.esd-lt-block, .esd-rt-block {
    width: 44%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 50% 20%;
}

.esd-lt-block div {
    margin-bottom: 5%;
}

.esd-rt-block div {
    margin-bottom: 5%;
}




/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 2%;
    color: #5A8094;
}


.home-flex-row {
    margin-top: 10%;
}

.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}






/*FOOTER*/
footer {
    height: 30vh;
    justify-content: center;
    background-color: #D62503;
}


footer div p {
    color: whitesmoke;
}




