/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}

/* AGGIUNTA DA LORENZO !!!!!!!!!!!!!!!!!!!!!!*/
#timeTitle {
    display: none;
}
/* AGGIUNTA DA LORENZO !!!!!!!!!!!!!!!!!!!!!!*/

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: rgba(200, 200, 190, 0.7) !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600 !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}





/*BUTTONS SUB-SECTION */



.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }







/*Page presentation*/

.page-presentation {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-color: #c8c8be !important;  /*or #fef9f7 ? */
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #212529 1px solid;
}

.page-presentation p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

.title-container{
    grid-row: 2/6;
    grid-column: 2/6;
    z-index: 1;
}


.title-container h1 {
    font-size: 6vw;
    text-transform: lowercase;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

#swissRotatedPill{
    grid-column: 7/9;
    grid-row: 3/7;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}


#homeTp1 {
    font-size: 1.7vw;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

#homeTp2 {
    grid-column: 2;
    grid-row: 5;
    font-size: 1vw;
    font-weight: 600;
}

#homeTp3 {
    grid-column: 3;
    grid-row: 6;
    font-size: 1vw;
    font-weight: 600;
}

#homeTp4 {
    grid-column: 4;
    grid-row: 7;
    font-size: 1vw;
    font-weight: 600;
}






/*MAIN*/

.home-magazine-img-container {
    display: none;
}


main {
    margin: 10.5vw 14vw 21vw 7vw;
    height: 400vh;
}


#homeBody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 7.6%);
    grid-template-rows: repeat(12, 7.6%);
    gap: 0.8%;
}


#homeBody h3 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 2em;
    font-weight: 600;
}

#homeBody p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 1.2em;
}


.home-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.row-rt-block, .row-lt-block {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#magazineDescription {
    grid-area: 1/3/3/11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#styleChangeDescription {
    grid-area: 4/3/6/11;
}

#issuesFeaturesDescription {
    flex-direction: row-reverse !important;
    grid-area: 7/3/9/11;
}

#editorsAndSourcesDescription {
    flex-direction: column !important;
    grid-area: 10/3/13/11;
}


#mdTitleCont {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#mdTitleCont h2 {
    font-size: 3em;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
    text-align: center;
}


#mdParCont {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mdParCont p {
    margin: 0;
    padding: 0;
}


.esd-lt-block, .esd-rt-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esd-link-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: solid #212529 2px;
    border-right: solid #212529 2px;
    width: fit-content;
}

.esd-link {
    padding: 10px 30px;
    margin: 20px -20px;
    border-top: solid #212529 2px;
    border-bottom: solid #212529 2px;
    transition: 600ms ease-in-out;
    font-size: 1.2em;
    font-weight: 600;
}


.esd-link:hover {
    padding: 20px 30px;
    margin: 0;
    transition: 600ms ease-in-out;
    color: #558a86;
    font-weight: 600;
    text-decoration: none;
}




.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}



.poster-link {
    text-decoration: none;
    color: #212529;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: 3px;

    background-color: rgba(105, 126, 124, 0.4);
    padding: 80px 20px;
    border: solid #212529 2px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 30px;
    transition : 600ms;
    transform: translateY(0) rotate(-90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.poster-link:hover{
    transition : 600ms;
    padding: 100px 15px;
    transform : translateY(-0px);
    background-color: rgba(159, 127, 106, 0.4);
    color: #294765;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 9px;

    text-decoration: none;
    border: solid #212529  2.5px ;
    font-size: 1.8em;
}









/*Style poster*/

.poster-container {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}


#styleChangePoster {
    height: 100%;
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #558a86;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

#posterPar1Container {
    width: 80%;
    text-align: right;
}

#posterPar1Container p {
    margin: 0;
    padding: 0;
    font-weight: 900 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 2.2em;
    text-transform: lowercase;
}

#bottomPosterPs {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#bottomPosterPs p {
    font-weight: 600;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}

#bppsCol1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#bppsCol2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}




#incunabulaPoster {
    display: none;
}

#posterIconContainer {
    width: 70%;
    aspect-ratio: 1/1;
    background-color: whitesmoke;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 300ms;
}

#posterIconContainer img {
    width: 60%;
    height: 60%;
    color: rgba(13, 15, 5, 0.9);
}



#posterIconContainer:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    transition: 300ms;
}






/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 50%;
}

footer div p {
    color:#212529
}




/*Circles Animation*/


@keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-webkit-keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-moz-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-o-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-ms-keyframes hover {
    0% {
    transform: translateX(-120%);;
    }
    100% {
    transform: translateX(120%);
    }
}



@keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

@-webkit-keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
}

@-moz-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-o-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-ms-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}



.circles-animation {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.circle {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
}


.blue-circle {
    z-index: 0;
    background-color: rgba(105, 126, 124, 0.7);
  }

.red-circle {
    z-index: 0;
    background-color: rgba(159, 127, 106, 0.7);
}

  
  .circles-animation-row {
    position: absolute;
    width: 40%;
    height: 100%;
  }
  
  .circles-animation-row-1 {
    left: 2%;
  }

  .circles-animation-row-1 .circle {
    top: 18%;
    animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
            
  }


.circles-animation-row-2 {
    left: 55%;
}
.circles-animation-row-2 .circle:nth-child(1) {
    top: -15%;
    animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
.circles-animation-row-2 .circle:nth-child(2) {
    top: 15%;
    animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

 
.circles-animation-row-2 .circle:nth-child(3) {
    top: 30%;
    animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(4) {
    top: 45%;
    animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(5) {
    top: 60%;
    animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(6) {
    top: 90%;
    animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
  

.circles-animation-row-3 {
    left: 86%;
}

.circles-animation-row-3 .circle {
    top: 60%;
    animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;         
}




