/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}

/* AGGIUNTA DA LORENZO !!!!!!!!!!!!!!!!!!!!!!*/
#timeTitle {
    display: none;
}
/* AGGIUNTA DA LORENZO !!!!!!!!!!!!!!!!!!!!!!*/

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: rgba(200, 200, 190, 0.7) !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600 !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}





/*BUTTONS SUB-SECTION */



.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }







/*Page presentation*/

.page-presentation {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-color:  #fef9f7 !important;  /*or #c8c8be ? */
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #212529 1px solid;
}

.page-presentation p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

.title-container{
    grid-row: 2/6;
    grid-column: 2/6;
    z-index: 1;
}


.title-container h1 {
    font-size: 6em;
    text-transform: lowercase;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

#swissRotatedPill{
    grid-column: 7/9;
    grid-row: 3/7;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}


#homeTp1 {
    font-size: 1.8em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
}

#homeTp2 {
    grid-column: 2;
    grid-row: 5;
    font-size: 1em;
    font-weight: 400;
}

#homeTp3 {
    grid-column: 3;
    grid-row: 6;
    font-size: 1em;
    font-weight: 400;
}

#homeTp4 {
    grid-column: 4;
    grid-row: 7;
    font-size: 1em;
    font-weight: 400;
}






/*MAIN*/

.home-magazine-img-container {
    display: none;
}


main {
    margin: 10.5vw 14vw 21vw 7vw;
    height: 400vh;
}


#homeBody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 7.6%);
    grid-template-rows: repeat(12, 7.6%);
    gap: 0.8%;
}


#homeBody h3 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 2em;
    font-weight: 600;
}

#homeBody p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 1.2em;
}


.home-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.row-rt-block, .row-lt-block {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#magazineDescription {
    grid-area: 1/3/3/11;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#styleChangeDescription {
    grid-area: 4/3/6/11;
}

#issuesFeaturesDescription {
    flex-direction: row-reverse !important;
    grid-area: 7/3/9/11;
}

#editorsAndSourcesDescription {
    flex-direction: column !important;
    grid-area: 10/3/13/11;
}


#mdTitleCont {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#mdTitleCont h2 {
    font-size: 3em;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
    text-align: center;
}


#mdParCont {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mdParCont p {
    margin: 0;
    padding: 0;
}


.esd-lt-block, .esd-rt-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esd-link-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: solid #212529 2px;
    border-right: solid #212529 2px;
    width: fit-content;
}

.esd-link {
    padding: 10px 30px;
    margin: 20px -20px;
    border-top: solid #212529 2px;
    border-bottom: solid #212529 2px;
    transition: 600ms ease-in-out;
    font-size: 1.2em;
    font-weight: 600;
}


.esd-link:hover {
    padding: 20px 30px;
    margin: 0;
    transition: 600ms ease-in-out;
    color: #558a86;
    font-weight: 600;
    text-decoration: none;
}




.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}



.poster-link {
    text-decoration: none;
    color: #212529;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: 3px;

    background-color: rgba(105, 126, 124, 0.4);
    padding: 80px 20px;
    border: solid #212529 2px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 30px;
    transition : 600ms;
    transform: translateY(0) rotate(-90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.poster-link:hover{
    transition : 600ms;
    padding: 100px 15px;
    transform : translateY(-0px);
    background-color: rgba(159, 127, 106, 0.4);
    color: #294765;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 9px;

    text-decoration: none;
    border: solid #212529  2.5px ;
    font-size: 1.8em;
}









/*Style poster*/

.poster-container {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}


#styleChangePoster {
    height: 100%;
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #558a86;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

#posterPar1Container {
    width: 80%;
    text-align: right;
}

#posterPar1Container p {
    margin: 0;
    padding: 0;
    font-weight: 900 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 2.2em;
    text-transform: lowercase;
}

#bottomPosterPs {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#bottomPosterPs p {
    font-weight: 600;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}

#bppsCol1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#bppsCol2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}




#incunabulaPoster {
    display: none;
}

#posterIconContainer {
    width: 70%;
    aspect-ratio: 1/1;
    background-color: whitesmoke;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 300ms;
}

#posterIconContainer img {
    width: 60%;
    height: 60%;
    color: rgba(13, 15, 5, 0.9);
}



#posterIconContainer:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    transition: 300ms;
}














/* ISSUES ------------------------------------ */

.issue-nav .nav-text{
    color: whitesmoke !important;
}



.issue-page-presentation {
    background-image: url("../images_styles/swiss/pepperoni_pizza_black_and_white_60s_photographic.png");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.issue-page-presentation .title-container {
    grid-column: 8;
    grid-row: 4;
}

#pizzagateTitle {
    color: whitesmoke;
    font-size: 9em;
    font-weight: 900;
    transform: rotate(-90deg) translateY(200px);
}

#issueTp1 {
    grid-column: 2/4;
    grid-row: 1/4;
    color: whitesmoke;
    font-size: 1.8em;
    font-weight: 600;
}


.mode-selector {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5%;
    display: none;
}
  

.h-flex-no-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  


  
.h-flex-no-wrap button {
    padding: 1.5% 0;
    height: 100%;
    width: 25%;
    font-size: 1.5em;
    background-color:#f0e5d1e2;
    border: solid 2px;
}



.double-doc-selector {
    position: relative; 
    visibility: hidden;
    height: 0;
    z-index: 999;
}
  
  
  
.width-100 {
    width: 100% !important;
}
  




.meta-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 3vw;
    margin-bottom: 8vw;
    justify-content: space-between;
}


.metadata-container {
    width: 28%;
    display: flex;
    flex-direction: column;
}
  
.sticky-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.card {
    background-color: transparent;
}
  
.card-header {
    padding: .5rem 0;
}
  
.meta-menu-card{
    background-color: white !important;
}

.card-body li {
    padding: .5rem 0;
}

.card-body form div {
    margin: 1rem 0;
}


.entity-creation-form, .entity-creation-form-b {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
  
  .entity-creation-form input {
    width: 100%;
  }
  
  .entity-creation-form-b input {
    width: 100%;
  }

.entity-string {
    border: solid 1px;
    margin: .5rem 0;
}




  
.entities-content-table {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.nav-items-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.nav-i, .nav-i-b {
    background-color: transparent;
    border: none;
    padding: 3% 5%;
}
  
.active-nav-i {
    background-color: #F6BF77;
    border: 1px solid;
}

  
.tab-content, .tab-content-b{
    display: none;
  }
  
  
.active-tc {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid;
    border-radius: 2%;
    overflow-y: scroll !important;
}

.active-tc li {
    padding-right: 1rem;
}




/*Artice container*/
.article-container {
    width: 70%;
    min-height: 200px;
  }

.article-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}



.article-container h3 {
    margin-top: 2em;
}


.article-title, .author-info, .publication-info {

}





.article-comparison-container h3 {
    margin-top: 2em;
}

.article-comparison-container {
    display: none;
}

.article-comparison-container p {
    text-align: justify;
    font-size: 1.3em;
}



li a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-comparison-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

  
  .info-dl, .info-dl-b{
    padding: 2%;
  }
  
  
  .docs-list-a, .docs-list-b {
    margin: 0;
    padding-left: 1rem;
  }
  
  
  
  /*Span backgrounds*/
  
  .person-bkg {
    background-color: rgba(0, 217, 255, 0.5);
  }
  
  .places-bkg {
    background-color: rgba(182, 143, 87, 0.628);
  }
  
  .organizations-bkg {
    background-color: rgba(102, 75, 121, 0.483);
  }
  
  .events-bkg {
    background-color: rgba(165, 42, 42, 0.569);
  }
  
  .concepts-bkg {
    background-color: rgba(88, 137, 74, 0.462);
  }
  
  .keywords-bkg {
    background-color: rgba(126, 50, 197, 0.537);
  }
  
  
  .animation-bkg {
    background-color: rgba(25, 105, 171, 0.671);
  }
  
  
  
  
  /*SINGLE MODAL*/
  
  .modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-entity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .modal-entity-creation, .modal-entity-creation-b {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }
  

  
  
  
  /*Multiple modal*/
  .entity-type-selection, .entity-type-selection-b {
    height: 100%;
  }
  
  .width-80 {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: auto;
  }
  
  #mainModalContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }




.article-img-centre {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.figure-caption-centre {
    margin-bottom: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1em !important;
}



.notes-h3, .references-h3 {
    padding-bottom: 3em;
}
  
  .link-to-footnote{
    color: blue;
  }
  
  .link-to-footnote:hover{
    cursor: pointer;
    color:rgba(0, 217, 255, 0.5);
  }
















/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 50%;
}

footer div p {
    color:#212529
}




/*Circles Animation*/

@keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-webkit-keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-moz-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-o-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-ms-keyframes hover {
    0% {
    transform: translateX(-120%);;
    }
    100% {
    transform: translateX(120%);
    }
}



@keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

@-webkit-keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
}

@-moz-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-o-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-ms-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}



.circles-animation {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.circle {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
}


.blue-circle {
    z-index: 0;
    background-color: rgba(105, 126, 124, 0.7);
  }

.red-circle {
    z-index: 0;
    background-color: rgba(159, 127, 106, 0.7);
}

  
  .circles-animation-row {
    position: absolute;
    width: 40%;
    height: 100%;
  }
  
  .circles-animation-row-1 {
    left: 2%;
  }

  .circles-animation-row-1 .circle {
    top: 18%;
    animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
            
  }


.circles-animation-row-2 {
    left: 55%;
}
.circles-animation-row-2 .circle:nth-child(1) {
    top: -15%;
    animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
.circles-animation-row-2 .circle:nth-child(2) {
    top: 15%;
    animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

 
.circles-animation-row-2 .circle:nth-child(3) {
    top: 30%;
    animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(4) {
    top: 45%;
    animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(5) {
    top: 60%;
    animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(6) {
    top: 90%;
    animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
  

.circles-animation-row-3 {
    left: 86%;
}

.circles-animation-row-3 .circle {
    top: 60%;
    animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;         
}




