/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}



.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: #c8c8be !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}
  
.dark-background {
    background-color: rgb(24, 31, 31);
}





/*BUTTONS SUB-SECTION */

.svg-inline--fa {
    height: 65% !important;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px;
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vmin;
    row-gap: 2vmax;
   z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}




/*Page presentation*/

.page-presentation {
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-color: #c8c8be !important;
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #212529 1px solid;
}


.title-container{
    grid-row: 1/5;
    grid-column: 2/6;
    z-index: 1;
}


.title-container h1 {
    font-size: 6vw;
    text-transform: lowercase;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}



#homeTp1 {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    font-size: 1.7vw;
    grid-column: 7/9;
    grid-row: 3/7;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

#homeTp2 {
    grid-column: 2;
    grid-row: 5;
    font-size: 1vw;
    font-weight: 600;
}

#homeTp3 {
    grid-column: 3;
    grid-row: 6;
    font-size: 1vw;
    font-weight: 600;
}

#homeTp4 {
    grid-column: 4;
    grid-row: 7;
    font-size: 1vw;
    font-weight: 600;
}


/*MAIN*/

main {
    margin: 10.5vw 14vw 21vw 7vw;
    height: 200vh;
}

#homeBody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 11.8%);
    grid-template-rows: repeat(8, 11.8%);
    gap: 0.8%;
}


#magazineDescription {
    grid-column: 3/7;
    grid-row: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#styleChangeDescription {
    grid-column: 3/7;
    grid-row: 3/5;
}

#issuesFeaturesDescription {
    grid-column: 3/7;
    grid-row: 5/7;
}

#editorsAndSourcesDescription {
    grid-column: 3/7;
    grid-row: 7/9;
}


/*FOOTER*/
footer {
    height: 30vh;
    justify-content: center;
}


footer div p {
    color: whitesmoke;
}




/*Circles Animation*/


@keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-webkit-keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-moz-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-o-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-ms-keyframes hover {
    0% {
    transform: translateX(-120%);;
    }
    100% {
    transform: translateX(120%);
    }
}



@keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

@-webkit-keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
}

@-moz-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-o-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-ms-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}



.circles-animation {
    position: absolute;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}


.circle {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
}


.blue-circle {
    z-index: 0;
    background-color: rgba(105, 126, 124, 0.7);
  }

.red-circle {
    z-index: 0;
    background-color: rgba(159, 127, 106, 0.7);
}

  
  .circles-animation-row {
    position: absolute;
    width: 40%;
    height: 100%;
  }
  
  .circles-animation-row-1 {
    left: 2%;
  }

  .circles-animation-row-1 .circle {
    top: 18%;
    animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
            
  }


.circles-animation-row-2 {
    left: 55%;
}
.circles-animation-row-2 .circle:nth-child(1) {
    top: -15%;
    animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
.circles-animation-row-2 .circle:nth-child(2) {
    top: 15%;
    animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

 
.circles-animation-row-2 .circle:nth-child(3) {
    top: 30%;
    animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(4) {
    top: 45%;
    animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(5) {
    top: 60%;
    animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(6) {
    top: 90%;
    animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
  

.circles-animation-row-3 {
    left: 86%;
}

.circles-animation-row-3 .circle {
    top: 60%;
    animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;         
}




