
/* The Overlay (background) */
.overlay-style-page {
    display: none; 
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
   }

.overlay-content {
    position: absolute;
    bottom: 25%; 
    left: 25%;
    width: 25%; /* 100% width */
    text-align: left;
    z-index: 3;
    color: whitesmoke;
}

#general-overlay {
    display: block;
}

#incunabula-overlay, #time-overlay, #swiss-overlay, #future-overlay,  #nav2030, #timeTitle, .eye-container, .home-2030, .home-magazine-img-container, #incunabulaPoster, .hidden, .time-only, .time-title-paragraph, #timeImage, #timeImageDescription {
    display: none;
}









/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/

/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}





.nav-transparent-background {
    background-color: transparent !important;
}


.nav-colored-background {
    background-color: #f1f2f0 !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}





.navbar-toggler span {
    height: 2px;
    width: 25px;
    display: block;
}

.navbar-toggler span:not(:last-child) {
    margin-bottom: .2em;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}


.dark-nav-toggler span{
    background-color: #212529;
}

.light-nav-toggler span{
    background-color: #f1f2f0;
}


.nav-text {
    color: #212529 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 500 !important;
    padding: 0 .5em;
    text-decoration: none;
    -webkit-text-decoration: none;
}


.active::first-letter {
    color:#f54123 !important;
}

.dropdown-active::first-letter {
    color:#f54123 !important;
}

.dropdown-menu li:not(:nth-child(2)):not(:nth-child(3)):hover {
    background-color: rgba(245, 67, 35, 0.8) !important;
}


.ddm-nav-text:hover {
    color: #212529;
}


.ddm-nav-text {
    width: 100%;
    color: #212529;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 500 !important;
    margin: 1em;
    text-decoration: none;
}




.issue-nav .nav-text{
    color: whitesmoke !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600 !important;
}





.dropdown-item {
    color: #212529;
}

.disabled-nav-text {
    color: #21252966 !important;
}

.disabled-nav-text:hover {
    color: #21252966 !important;
    background-color: none !important;
}




/*BUTTONS SUB-SECTION */

.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}
  
#stylesBtn {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms
}
  
.sub-btn {
    background-color: whitesmoke;
    width: 100%;
    height: 20%;
    border: none;
    display: none;
    box-shadow: 0px 8px 15px rgba(240, 229, 209, 0.2);
    border-radius: 50px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 800;
    font-size: 1.4em;
    transition: 600ms;
}

.sub-btn:hover {
    box-shadow: 0px 12px 18px rgba(240, 229, 209, 0.1);
    scale: 1.1;
    transition: 600ms;
    color: #f54123;
}




  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;
    transition: 400ms;
  }



.modal-btn:hover, #stylesBtn:hover, #toTopBtn:hover {
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.8);
    transition: 400ms;
}







/*Page presentation*/

.page-presentation {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-color:  #f1f2f0 !important;  /*or #c8c8be ? */
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #212529 1px solid;
}

.page-presentation p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

.title-container{
    grid-row: 2/6;
    grid-column: 2/6;
    z-index: 1;
}


.title-container h1 {
    font-size: 6.5em;
    text-transform: lowercase;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

#swissRotatedPill{
    grid-column: 7/9;
    grid-row: 3/7;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}


#homeTp1 {
    font-size: 1.8em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 200;
}

#homeTp2 {
    grid-column: 2;
    grid-row: 5;
    font-size: 1em;
    font-weight: 500;
}

#homeTp3 {
    grid-column: 3;
    grid-row: 6;
    font-size: 1em;
    font-weight: 500;
}

#homeTp4 {
    grid-column: 4;
    grid-row: 7;
    font-size: 1em;
    font-weight: 500;
}






/*MAIN*/



.visible {
    display: block;
}
  

.home-main, .issue-main, .documentation-main {
    margin: 10.5vw 14vw 21vw 7vw;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}


#homeBody {
    margin: 10%;
    display: flex;
    flex-direction: column;
}


#homeBody h3 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 2em;
    font-weight: 600;
}

#homeBody p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 1.2em;
}


.home-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30%;
}

.home-flex-row a {
        color: #212529;
        font-size: 0.9em;
        text-decoration: underline;
        text-decoration-color: #558a86;
        text-decoration-thickness: .2rem;
        -webkit-text-decoration: underline;
        -webkit-text-decoration-color: #558a86;
        -webkit-text-decoration-thickness: .2rem;
        font-weight: 500;
}

.home-flex-row a:hover {
        color: #558a86 !important;
        text-decoration: none;
        -webkit-text-decoration: none;
}




.row-rt-block, .row-lt-block {
    display: flex;
    flex-direction: column;
    width: 45%;
}

#magazineDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
}


#styleChangeDescription {
    grid-area: 4/3/6/11;
}

#issuesFeaturesDescription {
    flex-direction: row-reverse !important;
    grid-area: 7/3/9/11;
}

#editorsAndSourcesDescription {
    flex-direction: column !important;
    grid-area: 10/3/13/11;
}


#mdTitleCont {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

#mdTitleCont h2 {
    font-size: 3em;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
    text-align: center;
}


#mdParCont {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mdParCont p {
    margin: 0;
    padding: 0;
}


.esd-lt-block, .esd-rt-block {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esd-lt-block {
    margin-bottom: 30%;
}





.esd-link-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: solid #212529 2px;
    border-right: solid #212529 2px;
    width: fit-content;
}





.esd-link {
    padding: 10px 30px;
    margin: 20px -20px;
    border-top: solid #212529 2px;
    border-bottom: solid #212529 2px;
    transition: 600ms ease-in-out;
    font-size: 1.2em !important;
    font-weight: 600; 
}


.esd-link:hover {
    padding: 20px 30px;
    margin: 0;
    transition: 600ms ease-in-out;
    color: #558a86;
    font-weight: 600;
    text-decoration: none;
    -webkit-text-decoration: none;
}




.text-line-through {
    text-decoration: line-through;
    -webkit-text-decoration: line-through;
    text-decoration-thickness: 2.5px;
    -webkit-text-decoration-thickness: 2.5px;
}





.poster-link {
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    color: #212529 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.5em !important;
    background-color: rgba(105, 126, 124, 0.4);
    padding: 80px 20px;
    border: solid #212529 2px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 30px;
    transition : 600ms;
    transform: translateY(0) rotate(-90deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.poster-link:hover{
    transition : 600ms;
    padding: 100px 15px;
    transform : translateY(-0px);
    background-color: rgba(159, 127, 106, 0.4);
    color: #00abbba9 !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 9px;

    text-decoration: none;
    border: solid #212529  2.5px ;
    font-size: 1.8em;
}









/*Style poster*/

.poster-container {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}


#styleChangePoster {
    height: 100%;
    aspect-ratio: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: #558a86;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

#posterPar1Container {
    width: 80%;
    text-align: right;
}

#posterPar1Container p {
    margin: 0;
    padding: 0;
    font-weight: 900 !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-size: 2.2em;
    text-transform: lowercase;
}

#bottomPosterPs {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#bottomPosterPs p {
    font-weight: 600;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}

#bppsCol1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#bppsCol2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}






#posterIconContainer {
    width: 70%;
    aspect-ratio: 1/1;
    background-color: #f1f2f0;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 300ms;
}

#posterIconContainer img {
    width: 60%;
    height: 60%;
    color: rgba(13, 15, 5, 0.9);
}



#posterIconContainer:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    transition: 300ms;
}




/*Documentation------------------------------*/

.documentation-page-presentation {
    overflow: hidden;
    background-color: #f0c24f !important;
}

.doc-title-container {
    grid-column: 5/9;
    grid-row: 8;
}

.doc-title-container h1 {
    font-size: 5em;
    text-transform: lowercase;
    font-weight: 900;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}


.doc-subtitle-container {
    grid-column: 7/9;
    grid-row: 6/8;
}

.doc-subtitle-container p {
    font-size: 1.3em;
    font-weight: 200;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}





#swissDocIllustration {
    grid-column: 3/7;
    grid-row: 1/5;
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    transform: scale(1.2) rotate(60deg) translate(-20%, -5%);

}



#swiSpan1 {
    grid-column: 1/3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-color: #212529;
    animation: pulse 3s ease-in-out infinite alternate;
}

#swiSpan2 {
    grid-column: 3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    background-color: #212529;
    animation: pulse 3.5s ease-in-out infinite alternate;
}

#swiSpan3 {
    grid-column: 1;
    grid-row: 2/4;
    width: 100%;
    height: 100%;
    background-color: #212529;
    animation: pulse 4s ease-in-out infinite alternate;
}

#swiSpan4 {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    background-color: #212529;
    animation: pulse 4.5s ease-in-out infinite alternate;
}

#swiSpan5 {
    grid-column: 2/4;
    grid-row: 3;
    width: 100%;
    height: 100%;
    background-color: #212529;
    animation: pulse 5s ease-in-out infinite alternate;
}





#documentationBody {
    margin: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}




#documentationBody h2 {
    font-size: 2em;
    font-weight: 900;
    text-transform: lowercase;
    margin-bottom: 2%;
}



.doc-subtitle {
    font-size: 1.5em !important;
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 2%;
}


#documentationBody p {
    font-size: 1.2em;
}

#documentationBody li {
    font-size: 1.1em;
}



.doc-section {
    margin: 10%;
}

.doc-subsection {
    margin: 5%;
}

.doc-subsection h3::first-letter {
    color: #f54123;
}



.doc-images-container, .doc-images-container-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%;
}

.doc-images-container-3  img {
    width: 30%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: solid 2px #212529;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
}


.doc-images-container img {
    width: 40%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: solid 2px #212529;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
}



.doc-figure-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 5%;
}


.doc-figure-container img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: solid 1px #212529;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
}

.doc-figure-caption {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
}


#documentationBody blockquote {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    font-size: 0.85em;
}

.blockquote-caption {
    margin-bottom: 1rem;
    text-align: right;
}



#documentationBody a {
    color: #212529;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    transition: 200ms;
}

#documentationBody a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}




/*About -------------------------- */

.about-main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e5e7de;
}

.about-page-presentation {
    padding: 10.5vw 14vw 0 7vw;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
}

.about-container {
    color: #212529;
}

.about-container h1 {
    font-size: 6em;
    font-weight: 900;
    text-transform: lowercase;
    margin-bottom: 5%;
}

#aboutDoubleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.editor-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.editor-container p {
    font-size: 1.2em;
    font-weight: 300;
}

.editor-name-img {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.editor-name-img div {
    transform: rotate(-90deg);
}

.editor-name-img h2 {
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-color: #f54123;
    text-decoration-thickness: .1em;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #f54123;
    -webkit-text-decoration-thickness: .1em;
}

.editor-name-img a {
    margin-left:  -20%;
    margin-right: 5%;
}

.fa-envelope {
    color: #212529;
    font-size: 2em;
    transition: 400ms;
}

.fa-envelope:hover {
    color: #f54123;
    transition: 400ms;
}



/*Disclaimer -------------------------------- */


.disclaimer-page-presentation {
    background-color: #f0ca75 !important;
}



#disclaimerTitle {
    grid-column: 1 / 6;
    grid-row: 3 / 5;
    color: #212529;
    font-weight: 900;
    text-transform: lowercase;
    display: flex;
    align-items: flex-end;
    padding-left: 5%;
}


#disclaimerTitle h1 {
    display: none;
}

#swissDisclaimerTitle {
    font-size: 10em;
    font-weight: 900;
    text-transform: lowercase;
    margin-bottom: 0;
    line-height: 0.9em;
}

#disclaimerPurpose {
    grid-column: 6 / 9;
    grid-row: 3 / 5;
    color: #212529;
    font-weight: 300;
}


#disclaimerSources {
    padding-top: 5%;
    grid-column: 2 / 6;
    grid-row: 5 / 8;
    color: #212529;
    font-weight: 300;
}

#disclaimerSources p:last-child {
margin: 0;
}






#disclaimerSources a {
    color: #212529;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2em;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2em;
    transition: 300ms;
}

#disclaimerSources a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 300ms;
}



.fa-github {
    font-size: 1.2em;
    color: #212529;
    transition: 400ms;
}

.fa-github:hover {
    color: #558a86;
    transition: 400ms;
}







/* ISSUES ------------------------------------ */



.issue-page-presentation {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url("../images_styles/swiss/pepperoni_pizza_black_and_white_60s_photographic.png");
    background-size: cover;
    display: grid;
}

.issue-page-presentation .title-container {
    grid-column: 7;
    grid-row: 7;
}

#pizzagateTitle {
    color: whitesmoke;
    font-size: 9em;
    font-weight: 900;
    transform: rotate(-90deg) translateY(85px) translateX(50px);
}

#issueTp1 {
    grid-column: 2/5;
    grid-row: 3/6;
    color: whitesmoke;
    font-size: 2em;
    font-weight: 400;
}


.mode-selector {
    width: 40%;
    margin-left: 30%;
    height: fit-content;
    display: none;
    border-top: solid 2px;
    border-bottom: solid 2px;
}
  

.mode-selctor-btns-div {
    padding: 30px 15px;
    margin: -20px 20px;
    /* background-color: #f1f2f0; */
    border-left: solid 2px;
    border-right: solid 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
  

  
.mode-selctor-btns-div button {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    text-transform: lowercase;
    margin: .5rem 0;
    padding: .5rem 0;
    height: 100%;
    width: 35%;
    font-size: 1em;
    border: solid 2px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px 0px;
    background-color: #f1f2f0;
}

.mode-selctor-btns-div button:hover {
    color: #f54123;
    border: #212529 solid 2px;
    transition: 400ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
}







.double-doc-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    display: none;
    height: auto;
    z-index: 1;
    margin: 10% 0;
}


.document-selection-container {
    width: 47.5%;
}


.document-selection-container div {
    width: 100%;
}



.docs-list-container li a {
    color: #212529;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    font-size: 1.1em;
    transition: 200ms;
}

.docs-list-container li a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}









.meta-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10%;
    justify-content: space-between;
}


.metadata-container {
    width: 28%;
    display: flex;
    flex-direction: column;
}
  
.sticky-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.card {
    background-color: transparent;
}
  
.card-header {
    padding: 0 !important;
}


.card-header button {
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
}
  
.meta-menu-card{
    background-color: #f1f2f0 !important;
}

.card-body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
    font-weight: 500;
}





.docs-list-a li {
    padding: .5rem 0;
}

.docs-list-b li {
    padding: .5rem 0;
}


.tab-content li {
    padding: .5rem 0;
}

.tab-content-b li {
    padding: .5rem 0;
}




.card-body form div {
    margin: 1rem 0;
}


.entity-creation-form, .entity-creation-form-b {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
    font-weight: 500;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
}
  

.entity-creation-form input {
    width: 100%;
}

.entity-creation-form-b input {
    width: 100%;
}



.entity-string, .entity-string-b {
    border: solid 1px #212529;
    margin: .5rem 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    text-transform: lowercase;
    font-weight: 500;
}




  
.entities-content-table {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.nav-items-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.nav-i, .nav-i-b {
    background-color: transparent;
    border: none;
    padding: 3% 5%;
    color: #212529;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 500;
    text-transform: lowercase;
}
  
.active-nav-i {
    border: 2px solid #212529;
    font-weight: 600;
}

.active-nav-i::first-letter {
    color: #f54123;
    text-transform: capitalize;
}

  
.tab-content, .tab-content-b{
    display: none;
  }
  
  
.active-tc {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid;
    border-radius: 5px;
    overflow-y: scroll !important;
    
}

.active-tc li {
    padding-right: 1rem;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 500;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    
}

.info-dl dt {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    border-left: #f54123 solid;
    padding-left: .5rem;
}

.info-dl-b dt {
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    border-left: #f54123 solid;
    padding-left: .5rem;
}




/*Artice container*/
.article-container {
    color: #212529;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    width: 70%;
    min-height: 200px;
}


.article-comparison-container {
    display: none;
}




.article-container p {
    width: 90%;
    margin-left: 10%;
    font-size: 1.2em;
    font-weight: 400;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

.article-comparison-container p {
    width: 90%;
    margin-left: 10%;
    font-size: 1.2em;
    font-weight: 400;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}


.article-container li {
    margin-bottom: .5rem;
}

.article-comparison-container li {
    margin-bottom: .5rem;
}


.article-container h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-color: #f54123;
    text-decoration-thickness: .3rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #f54123;
    -webkit-text-decoration-thickness: .3rem;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: lowercase;
}

.article-comparison-container h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-color: #f54123;
    text-decoration-thickness: .3rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #f54123;
    -webkit-text-decoration-thickness: .3rem;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: lowercase;
}


.article-container h4 {
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: lowercase;
}

.article-comparison-container h4 {
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: lowercase;
}




.article-title {
    margin-bottom: 1.5em;
    font-weight: 900;
    font-size: 2.8em;
    border-left: .5rem solid #f54123;
    padding-left: .5rem;
    text-transform: lowercase;
}

.author-info, .publication-info {
    width: 50%;
    font-weight: 500 !important;
    margin-left: 50%;
    font-size: 1rem !important;
}











.meta-text-container li a {
    color: #212529;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    transition: 200ms;
}

.meta-text-container li a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}



.tab-content li a {
    color: #212529;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    transition: 200ms;
}

.tab-content li a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}

.tab-content-b li a {
    color: #212529;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    transition: 200ms;
}

.tab-content-b li a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}




.article-container a {
    color: #212529;
    font-size: 0.9em;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    font-weight: 500;
    transition: 200ms;
}

.article-comparison-container a {
    color: #212529;
    font-size: 0.9em;
    text-decoration: underline;
    text-decoration-color: #558a86;
    text-decoration-thickness: .2rem;
    -webkit-text-decoration: underline;
    -webkit-text-decoration-color: #558a86;
    -webkit-text-decoration-thickness: .2rem;
    font-weight: 500;
    transition: 200ms;
}

.article-container a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}

.article-comparison-container a:hover {
    color: #558a86 !important;
    text-decoration: none;
    -webkit-text-decoration: none;
    transition: 200ms;
}


  
.info-dl, .info-dl-b{
    padding: 2%;
  }
  
  
.docs-list-a, .docs-list-b {
    margin: 0;
    padding-left: 1rem;
  }
  
  
  
  /*Span backgrounds*/
  
  .person-bkg {
    background-color: rgba(240, 194, 79, 0.6);
  }
  
  .places-bkg {
    background-color: rgba(69, 124, 57, 0.6);
  }
  
  .organizations-bkg {
    background-color: rgba(236, 105, 45, 0.6);
  }
  
  .events-bkg {
    background-color: rgba(0, 149, 163, 0.6);
  }
  
  .concepts-bkg {
    background-color: rgba(8, 51, 125, 0.4);
  }
  
  .keywords-bkg {
    background-color: rgba(126, 50, 197, 0.537);
  }
  
  
  .animation-bkg {
    background-color: rgba(245, 67, 35, 0.7);
  }
  
  
  
  
  /*SINGLE MODAL*/
  
  .modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-entity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .modal-entity-creation, .modal-entity-creation-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }
  
  .entity-creation-btn, .entity-creation-btn-b {
    width: min(fit-content, 30%);
    padding: .2rem .5rem;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    text-transform: lowercase;
    border-radius: 2px;
    border: solid 1px #212529;
    background-color: #f1f2f0;
    background-color: #f1f2f0;
  }

.entity-creation-btn:hover {
    color: #f54123;
    transition: 400ms;
}

.entity-creation-btn-b:hover {
    color: #f54123;
    transition: 400ms;
}


  
  
  
/*Multiple modal*/


.width-80 {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: auto;
}

.entity-type-selection, .entity-type-selection-b {
    background-color: #f1f2f0;
    border-radius: 5px;
    border: #212529 1px solid;
}


.metadata-modal-btn {
    padding: 0.4rem 0.8rem !important;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
    font-weight: 600;
    text-transform: lowercase;
    margin: .5rem 0;
    padding: .5rem 0;
    height: 100%;
    font-size: 1em;
    border: solid 2px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px 0px;
    background-color: #f1f2f0;
}
    
.metadata-modal-btn:hover {
        color: #f54123;
        border: #212529 solid 2px;
        transition: 400ms;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 0px;
}




  
#mainModalContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}











.article-img-centre {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.figure-caption-centre {
    margin-bottom: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1em !important;
}


















/*FOOTER*/
footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    width: 50%;
    padding-top: 1rem;
    border-top: #f54123 solid .2rem;
}

footer div p {
    
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, sans-serif !important;;
    color:#212529
}




/*Circles Animation*/

@keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-webkit-keyframes hover {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateX(120%);
    }
}

@-moz-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-o-keyframes hover {
    0% {
    transform: translateX(-120%);
    }
    100% {
    transform: translateX(120%);
    }
}

@-ms-keyframes hover {
    0% {
    transform: translateX(-120%);;
    }
    100% {
    transform: translateX(120%);
    }
}



@keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

@-webkit-keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
}

@-moz-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-o-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}

@-ms-keyframes slide {
        0% {
        transform: translateY(-100%);
        }
        100% {
        transform: translateY(100%);
        }
}



.circles-animation {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.circle {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
}


.blue-circle {
    z-index: 0;
    background-color: rgba(105, 126, 124, 0.7);
  }

.red-circle {
    z-index: 0;
    background-color: rgba(159, 127, 106, 0.7);
}

  
  .circles-animation-row {
    position: absolute;
    width: 40%;
    height: 100%;
  }
  
  .circles-animation-row-1 {
    left: 2%;
  }

  .circles-animation-row-1 .circle {
    top: 18%;
    animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
            
  }


.circles-animation-row-2 {
    left: 55%;
}
.circles-animation-row-2 .circle:nth-child(1) {
    top: -15%;
    animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
.circles-animation-row-2 .circle:nth-child(2) {
    top: 15%;
    animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

 
.circles-animation-row-2 .circle:nth-child(3) {
    top: 30%;
    animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(4) {
    top: 45%;
    animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 2.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(5) {
    top: 60%;
    animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}

.circles-animation-row-2 .circle:nth-child(6) {
    top: 90%;
    animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: slide 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
}
  

.circles-animation-row-3 {
    left: 86%;
}

.circles-animation-row-3 .circle {
    top: 60%;
    animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -webkit-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -moz-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -o-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;
    -ms-animation: hover 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate infinite;         
}








/*Square animation--------------------------------- */

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}
