/*
    COLOR PALETTE
    #D62503
    white
*/

/*
    font-family: 'Cinzel', serif !important;
    font-family: 'Crimson Text', serif;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
*/

.eye-container, .home-2030 {
    display: none;
}


body {
    background-color: white !important;
}

/* The Overlay (background) */
.overlay-style-page {
    display: none;   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
   }

.overlay-content {
    position: absolute;
    top: 25%;
    bottom: 15%; 
    left: 15%;
    width: 40%; /* 100% width */
    text-align: left;
    z-index: 99;
    color: whitesmoke;
    font-family: 'Cinzel', serif !important;
}

.overlay-content h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.overlay-content h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}


#general-overlay {
    display: block;
}

#incunabula-overlay, #time-overlay, #swiss-overlay, #future-overlay {
    display: none;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/


/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
    height: 10vh;
}

.navbar-toggler span {
    height: 4px;
    width: 25px;
    display: block;
}

.navbar-toggler span:not(:last-child) {
    margin-bottom: .3rem;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}


.dark-nav-toggler span{
    background-color: #212529;
}

.light-nav-toggler span{
    background-color: #212529;
}

.container-fluid {
    text-align: right;
}

.nav-transparent-background {
    background-color: rgba(214, 37, 3, 1) !important;
}

.nav-colored-background {
    background-color: rgba(214, 37, 3, 1) !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529 !important;
    font-family: 'Cinzel', serif !important;
    font-weight: 600 !important;
    text-align: center;
    text-transform: capitalize;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }


.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}

.dropdown-menu {
    background-color: #D62503;
    color: black;
}

.dropdown-item:hover {
    background-color: #D62503 !important;
    color: black !important;
}

.disabled-nav-text {
    font-family: 'Cinzel', serif !important;
}

.dropdown-active {
    color: #D62503 !important;
    z-index: 1;
}

.navbar-nav a {
    padding: 0 .5rem;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: white !important;
}

.active, .active-issue {
    color: white !important;
}


.ddm-nav-text {
    color: #212529;
    font-family: 'Cinzel', serif !important;
    font-weight: 600 !important;
    text-align: center;
    text-transform: capitalize;
}

.dropdown-menu li:hover {
    background-color: #D62503 !important;
    color: black !important;
}


  




/*BUTTONS SUB-SECTION */

.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}
  
#stylesBtn {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms
}
  
.sub-btn {
    background-color: whitesmoke;
    width: 100%;
    height: 20%;
    border: none;
    display: none;
    box-shadow: 0px 8px 15px rgba(240, 229, 209, 0.3);
    border-radius: 50px;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    font-size: 1.2em;
}

.sub-btn:hover {
    box-shadow: 0px 12px 18px rgba(240, 229, 209, 0.1);
    scale: 1.1;
    transition: 400ms;
}




  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;
    transition: 400ms;
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }

.modal-btn:hover, #stylesBtn:hover, #toTopBtn:hover {
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.8);
    transition: 400ms;
}



/*Page presentation*/

.page-presentation {
    height: 100vh; /* Va bene così, perché deve sembrare la cover di time, quindi deve occupare tutto il viewport*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    background-size: cover;
    border-bottom: #D62503 3vw solid; /* LA MISURA è A CASO!!!! DA GIUSTIFICARE */
    border-left: #D62503 3vw solid; /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    border-right: #D62503 3vw solid;              /* QUELLE SCRITTE QUI SONO A CASO */
    border-top: #D62503 10vh solid;
    box-shadow: 
    inset 0 0 0 5px rgb(0, 0, 0),
    inset 0 0 0 12.5px white,
    inset 0 0 0 15px rgb(0, 0, 0),
    inset 0 0 0 20px white,
    inset 0 0 0 22.5px rgb(0, 0, 0),
    inset 0 0 0 27.5px white,
    inset 0 0 0 30px rgb(0, 0, 0),
    inset 0 0 0 35px white,
    inset 0 0 0 37.5px rgb(0, 0, 0),
    inset 0 0 0 42.5px white,
    inset 0 0 0 45px rgb(0, 0, 0),
    inset 0 0 0 50px white,
    inset 0 0 0 52.5px rgb(0, 0, 0),
    inset 0 0 0 57.5px white,
    inset 0 0 0 60px rgb(0, 0, 0),
    inset 0 0 0 65px white,
    inset 0 0 0 67.5px rgb(0, 0, 0),
    inset 0 0 0 72.5px white,
    inset 0 0 0 75px rgb(0, 0, 0);
    overflow: hidden;
}

/* It is fot the "The" of "The conspiracist" */
.invisiblePart {
    display: none;
}

.title-container {
    align-self: center;
    width: fit-content;
    margin: 2%;
}

.title-container h1 {
    font-size: 11em;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Cinzel', serif !important;
}


#homeTp1 {
    align-self: center;
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'Cinzel', serif !important;
    text-align: center;

}

#issueTp1 {
    align-self: center;
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'Cinzel', serif !important;
    text-align: center;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*MAIN*/
main {
    font-family: 'Cinzel', serif !important;
    /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    /*
    border-left: #D62503 3vw solid;
    border-right: #D62503 3vw solid;  */
    display: flex;
    flex-direction: column; 
    justify-items: space-around;
    margin: 5%;    /* Dimension to match dimension of the page-presentation*/
}


#timeTitle {
    width: 90%;
    align-self: center;
    padding: 1%;
    margin: 5%;
    border-top: solid black;
    border-bottom: solid black;
}

#timeTitle h2 {
    font-size: 3em;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    margin: 0;
}

#timeImage {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    background-image: url("../images_styles/Time/Time_image.png");
    background-size: cover;
    background-position: center;
    border: solid 2px black;
    margin-bottom: 2%;
}

#timeImageDescription {
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Crimson Text', serif;
}

#timeImageDescription1 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 0.5%;
}

.time-first-letter {
    font-size: 1.4em;
    font-weight: 600;
}

.time-first-letter-p {
    font-size: 1.15em;
    font-weight: 400;
    text-transform: capitalize;
}

#timeImageDescription2 {
    font-size: 1.4em;
    font-style: italic;
    word-spacing: 0.25em;
}



#homeBody {
    width: 90%;
    height: 100%;
    align-self: center;
    column-count: 3 !important;
    font-size: 1.1em;
    padding: 5%;
    border: double 6px rgb(0, 0, 0);
    font-family: 'Crimson Text', serif;
    line-height: 1.4em;
}



@media only screen and (max-width: 800px) {

    #homeBody {
        column-count: 2 !important;
        column-fill: balance;
    }
}

#homeBody h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

#homeBody h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0;
    display: none;
}

.time-title-paragraph {
    font-size: 1.15em;
    font-weight: bold;
    word-spacing: 0.25em;
    text-transform: capitalize;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    word-spacing: 0.2em;
    letter-spacing: .05em;
}


#homeBody p {
    font-size: 1.25em;
    word-spacing: 0.15em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    text-indent: 8%;
    margin-bottom: 0.65em;
    font-weight:100;
}

.home-link-container, .time-no-display {
    display: none;
}

#homeBody a {
    font-size: 1.1em;
    word-spacing: 0.15em;
    letter-spacing: .05em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.home-magazine-img-container {
    display:none;
}


#magazineDescription {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    padding-right: 1%;
}


#styleChangeDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex: 1;
    padding-right: 1%;
}

#issuesFeaturesDescription {
    flex: 1;
    padding-right: 1%;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: column !important;
    flex: 1;
}



/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2.5em;
    font-weight: 400;
    padding-bottom: 5%;
    word-spacing: 0.3em;
    letter-spacing: .05em;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}



#styleChangePoster, #swissDocIllustration, #incunabulaPoster {
    display: none;
}


.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}



/* ---------- ISSUES -----------*/


.mode-selector {
    width: 100%;
    height: fit-content;
    margin: 0;
    margin-top: 5%;
    display: none;
}
  

.mode-selctor-btns-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  


  
.mode-selctor-btns-div button {
    padding: 1.5% 0;
    height: 100%;
    width: 25%;
    font-size: 1.5em;
    background-color:#D62503;
    border: solid 2px;
}

.double-doc-selector {
    position: relative; 
    display: none;
    height: auto;
    z-index: 1;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.double-doc-selector div {
    width: 47.5%;
}

.document-selection-container div {
    margin-bottom: 5%;
    width: 100%;
}

.meta-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.metadata-container {
    width: 28%;
    display: flex;
    flex-direction: column;
}
  
.sticky-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

.card {
    background-color: transparent;
}
  
.card-header {
    padding:0 !important;
}
  
.meta-menu-card{
    background-color: white !important;
}

.card-body li {
    padding: .5rem 0;
}

.card-body form div {
    margin: 1rem 0;
}


.entity-creation-form, .entity-creation-form-b {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}
  
.entity-creation-form input {
    width: 100%;
}

.entity-creation-form-b input {
    width: 100%;
}

.entity-string, .entity-string-b {
    border: solid 1px;
    margin: .5rem 0;
}



.entities-content-table {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.nav-items-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.nav-i, .nav-i-b {
    background-color: transparent;
    border: none;
    padding: 3% 5%;
}
  
.active-nav-i {
    background-color: #F6BF77;
    border: 1px solid;
}

  
.tab-content, .tab-content-b{
    display: none;
  }
  
  
.active-tc {
    display: block !important;
    width: 100% !important;
    height: 200px !important;
    border: 1px solid;
    border-radius: 5px;
    overflow-y: scroll !important;
}

.active-tc li {
    padding-right: 1rem;
}




/*Artice container*/
.article-container {
    width: 70%;
    min-height: 200px;
  }

.article-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    line-height: 1.5em;
}

.article-comparison-container p {
    text-align: justify;
    font-size: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
    line-height: 1.5em;
}


.article-container li {
    padding: 1rem 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}



.article-container h3 {
    margin-top: 2em;
}


.article-title, .author-info, .publication-info {
    padding-bottom: 1.5em;
    text-align: center !important;
    text-transform: uppercase;
}



.article-comparison-container h3 {
    margin-top: 2em;
}

.article-comparison-container {
    display: none;
}



.article-comparison-container li {
    padding: 1rem 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}




.article-container li a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-comparison-container li a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

.article-comparison-container a {
    color: #5A8094 !important;
    font-size: 1.1em;
}

  
  .info-dl, .info-dl-b{
    padding: 2%;
  }
  
  
  .docs-list-a, .docs-list-b {
    margin: 0;
    padding-left: 1rem;
  }
  
  

  /*Span backgrounds*/
  
/*PALETTE: https://color.adobe.com/it/search?q=ancient%20book https://color.adobe.com/it/search?q=incunabula https://color.adobe.com/it/search?q=incunabula  https://color.adobe.com/it/search?q=incunabula*/

  .person-bkg {
    color: #F2B705 !important;
    font-weight: 900;
  }
  
  .places-bkg {
    color: #F08B48;
    font-weight: 900;
  }
  
  .organizations-bkg {
    color: rgb(102, 75, 121);
    font-weight: 900;
  }
  
  .events-bkg {
    color: #BF4B21;
    font-weight: 900;
  }
  
  .concepts-bkg {
    color: #667339;
    font-weight: 900;
  }
  
  .keywords-bkg {
    color: #9CBCD9;
    font-weight: 900;
  }
  
  
  .animation-bkg {
    background-color: rgba(61, 156, 207, 0.5);
  }
  
  
  
  
  /*SINGLE MODAL*/
  
  .modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .modal-entity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .modal-entity-creation, .modal-entity-creation-b {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 5% 0;
  }
  
.metadata-modal-btn {
    background-color: #5A8094 !important;
    border-color: #5A8094 !important;
}

.metadata-modal-btn:hover {
    background-color: #3c85ac !important;
    border-color: #3c85ac  !important;
}
  
  
  
  /*Multiple modal*/

.modal-content {
    font-family: 'Inknut Antiqua', serif !important;
}

  
  .width-80 {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: auto;
  }
  
  #mainModalContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }




.article-img-centre {
    margin-top: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
  }

.figure-caption-centre {
    margin-bottom: 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 1em !important;
}



.notes-h3::first-letter, .references-h3::first-letter {

    float: none !important;
}
  
  .link-to-footnote{
    color: #5A8094;
  }
  
  .link-to-footnote:hover{
    cursor: pointer;
    color:rgba(0, 217, 255, 0.5);
  }


/*FOOTER*/
footer {
    justify-content: center;
    background-color: #D62503;
    height: 14vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}






