/*
    COLOR PALETTE
    #D62503
    white
*/

/*
    font-family: 'Cinzel', serif !important;
*/

.eye-container, .home-2030 {
    display: none;
}


body {
    background-color: white !important;
}

/* The Overlay (background) */
.overlay-style-page {
    display: none; 
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
   }

.overlay-content {
    position: absolute;
    bottom: 25%; 
    left: 25%;
    width: 25%; /* 100% width */
    text-align: left;
    z-index: 3;
    color: whitesmoke;
}

#general-overlay {
    display: block;
}

#incunabula-overlay, #time-overlay, #swiss-overlay, #future-overlay {
    display: none;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/


/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}



.container-fluid {
    text-align: right;
}

.nav-transparent-background {
    background-color: transparent !important;
}

.nav-colored-background {
    background-color: rgba(214, 37, 3, 1) !important;
    border-bottom: #212529 solid 1px;
    transition: 0.2s ease-in-out;
}


.nav-text {
    color: #212529 !important;
    font-family: 'Cinzel', serif !important;
    font-weight: 600 !important;
    text-align: center;
    text-transform: capitalize;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}

.dropdown-menu {
    background-color: #D62503;
    color: black;
}

.navbar-nav a {
    padding: 0 .5rem;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: white !important;
}

.active {
    color: white !important;
}

.dropdown-active {
    color: #D62503 !important;
}

  




/*BUTTONS SUB-SECTION */

.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms;
}
  
#stylesBtn {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 400ms
}
  
.sub-btn {
    background-color: whitesmoke;
    width: 100%;
    height: 20%;
    border: none;
    display: none;
    box-shadow: 0px 8px 15px rgba(240, 229, 209, 0.3);
    border-radius: 50px;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    font-size: 1.2em;
}

.sub-btn:hover {
    box-shadow: 0px 12px 18px rgba(240, 229, 209, 0.1);
    scale: 1.1;
    transition: 400ms;
}




  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;
    transition: 400ms;
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }

.modal-btn:hover, #stylesBtn:hover, #toTopBtn:hover {
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.8);
    transition: 400ms;
}




/*Page presentation*/

.page-presentation {
    height: 100vh; /* Va bene così, perché deve sembrare la cover di time, quindi deve occupare tutto il viewport*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    background-size: cover;
    border-bottom: #D62503 3vw solid; /* LA MISURA è A CASO!!!! DA GIUSTIFICARE */
    border-left: #D62503 3vw solid; /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    border-right: #D62503 3vw solid;              /* QUELLE SCRITTE QUI SONO A CASO */
    border-top: #D62503 3vw solid;
}

.page-presentation:before {
    content: "";
    position: absolute;
    top: 4vw;
    left: 4vw;
    right: 4vw;
    bottom: 4vw;
    border: solid 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.page-presentation:after {
    content: "";
    position: absolute;
    top: 5vw;
    left: 5vw;
    right: 5vw;
    bottom: 5vw;
    border: solid 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* It is fot the "The" of "The conspiracist" */
.invisiblePart {
    display: none;
}

.title-container h1 {
    font-size: 10vw;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Cinzel', serif !important;
}

.subtitle-div {
    align-self: center;
}

#homeTp1 {
    align-self: center;
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'Cinzel', serif !important;
    text-align: center;
}

#issueTp1 {
    align-self: center;
    font-size: 1.5vw;
    font-weight: 300;
    font-family: 'Cinzel', serif !important;
    text-align: center;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*MAIN*/
main {
    font-family: 'Cinzel', serif !important;
    border-left: #D62503 3vw solid; /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    border-right: #D62503 3vw solid;  
    display: flex;
    flex-direction: column;   /* QUELLE SCRITTE QUI SONO A CASO */
    justify-items: space-around;       
}

#timeTitle {
    width: 90%;
    align-self: center;
    padding: 1%;
    margin: 5%;
    border-top: solid black;
    border-bottom: solid black;
}

#timeTitle h2 {
    font-size: 3em;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
    margin: 0;
}


#homeBody {
    width: 90%;
    height: 100%;
    align-self: center;
    column-count: 3 !important;
    font-size: 1.1em;
    padding: 5%;
}




@media only screen and (max-width: 800px) {

    #homeBody {
        column-count: 2 !important;
        column-fill: balance;
    }
}


.home-magazine-img-container {
    display:none;
}


#magazineDescription {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    padding-right: 1%;
}


#styleChangeDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex: 1;
    padding-right: 1%;
}

#issuesFeaturesDescription {
    flex: 1;
    padding-right: 1%;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: column !important;
    flex: 1;
}



/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1%;
}

#homeBody h3 {
    font-size: 1.5em;
    font-weight: 700;
}

#posterIconContainer {
    display: none;
}

#incunabulaPoster {
    display: none;
}

.poster-container {
    display:none;
}

.home-link-container {
    margin-bottom: 1vh;
}

#homeBody p {
    font-size: 1.1em;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      -o-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}


.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}






/*FOOTER*/
footer {
    justify-content: center;
    background-color: #D62503;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}






