/*
    COLOR PALETTE
    #D62503
    white
*/

/*
    font-family: 'Cinzel', serif;
*/

/* 
border: 20px solid;
border-image: repeating-linear-gradient(
    to right,
    black,
    black 2px,
    white 2px,
    white 4px
) 20 round;
*/

body {
    background-color: white !important;
}



/*Navbar*/
nav {
    width: 100% !important;
    position: fixed !important;
}

.container-fluid {
    text-align: right;
}

.nav-transparent-background {
    background-color: rgba(214, 37, 3, 1) !important;
}

.nav-colored-background {
    background-color: rgba(214, 37, 3, 1) !important;
    transition: 0.2s ease-in-out;
}

.nav-text {
    color: #212529 !important;
    font-family: 'Cinzel', serif !important;
    font-weight: 500;
    text-align: center;
}

.navbar-toggler:focus{
    box-shadow: none !important;
  }
  
.navbar-toggler:hover{
    box-shadow: 0 0 0 0.1rem !important;
}

.dropdown-menu {
    background-color: #D62503;
    color: black;
}
  




/*BUTTONS SUB-SECTION */



.btns-grid-item button svg {
    width: 70%;
    height: 70%;
  }

#timeMachineImg {
    height: 85%;
}


#toTopContainer {
    width: 100%;
}
  
#stylesBtnContainer{
    width: 100%
}
  
  
#toTopBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
#stylesBtn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}
  
.sub-btn {
    width: 100%;
    height: 20%;
    border: none;
    visibility: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4)
}

  
.btns-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    position: fixed;
    bottom: 3.5vmin;
    right: 3.5vmin;
    row-gap: 2vmax;
    z-index: 999;
}
  
.btns-grid-container div button {
    height: 100%;
}
  
.btns-item-1, .btns-item-2, .btns-item-3, .btns-item-4  {
    grid-column: 1/4;
}
  
.btns-item-5, .btns-item-7, .btns-item-9  {
    grid-column: 1/3;
}

.modal-btn {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: right;
    border-radius: 50%;
    border: none;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }

  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }





/*Page presentation*/

.page-presentation {
    height: 100vh; /* Va bene così, perché deve sembrare la cover di time, quindi deve occupare tutto il viewport*/
    display: grid;
    grid-template-columns: repeat(9, 12.5%);
    grid-template-rows: repeat(9, 12.5%);
    background-color: white;
    background-size: cover;
    padding: 10.5vh 14vh 0 7vh;
    border-bottom: #D62503 3vw solid; /* LA MISURA è A CASO!!!! DA GIUSTIFICARE */
    border-left: #D62503 3vw solid; /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    border-right: #D62503 3vw solid;              /* QUELLE SCRITTE QUI SONO A CASO */
    border-top: #D62503 3vw solid;
}


.title-container{
    grid-row: 3;
    grid-column: 2/8;
    z-index: 1;
}

/* It is fot the "The" of "The conspiracist" */
.invisiblePart {
    display: none;
}

.title-container h1 {
    font-size: 8vw;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Cinzel', serif !important;
}

.subtitle-div {
    grid-row: 7;
    grid-column: 2/8;
    text-align: center;
}

#homeTp1 {
    font-size: 2vw;
    font-weight: 300;
    font-family: 'Cinzel', serif !important;
}

#homeTp2, #homeTp3, #homeTp4 {
    display:none;
}



/*MAIN*/
main {
    font-family: 'Cinzel', serif !important;
    border-left: #D62503 3vw solid; /* ATTENZIONE -> LE MISURE SONO DA ADATTARE A QUELLE VERE, */
    border-right: #D62503 3vw solid;  
    padding-bottom: 10%;            /* QUELLE SCRITTE QUI SONO A CASO */
}

#timeTitle {
    font-size: 2.5vw;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    padding: 5%;
}

#homeBody {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-items: space-between;
    flex-wrap: wrap;
    font-size: 1.1em;
    padding: 5%;
}


.home-magazine-img-container {
    display:none;
}


#magazineDescription {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    padding-right: 1%;
}


#styleChangeDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex: 1;
    padding-right: 1%;
}

#issuesFeaturesDescription {
    flex: 1;
    padding-right: 1%;
}

#editorsAndSourcesDescription {
    display: flex;
    flex-direction: column !important;
    flex: 1;
}



/* Title "The magazine" */
#mdTitleCont h2 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1%;
}

#homeBody h3 {
    font-size: 1.5em;
    font-weight: 700;
}

#posterIconContainer {
    display: none;
}

#incunabulaPoster {
    display: none;
}

.poster-container {
    display:none;
}

.home-link-container {
    margin-bottom: 1vh;
}

#homeBody p {
    font-size: 1.1em;
    text-align: justify;
}


.text-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 2.5px;
}






/*FOOTER*/
footer {
    justify-content: center;
    background-color: #D62503;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: whitesmoke;
}






